<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/card.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2007327_9f4csgmczm7.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="cardHeader">
    <i class="iconfont icon-right"></i>
    <p>我的礼品卡</p>
    <a href="" class="cardItem">
      <p>购买礼品卡</p>
    </a>
  </div>
</body>
</html>