<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/center.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <header>
    <div class="vipac">
      <a href="">
        <div class="vipac-item">
          <img src="https://pic.midea.cn/h5/img/2019/open/medal/gold.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
          <span>勋章一枚</span>
        </div>
      </a>
     
      <div class="vipac-item1">
        会员账号 : 170054026
      </div>
    </div>
    <div class="container">
      <img src="https://filecmms.midea.com/ccrm-prod/userHeadImg/defaultHeadImg.png" alt="" id="pic1">
      <span>屿莣</span>
      <img src="https://pic.mdcdn.cn/h5/pic/201903/5c9aef379e85a.png" alt="" id="pic2">
    </div>
    <div class="menu">
      <a href="" class="menu-item">
        <p>0</p>
        <span>关注</span>
      </a>
      <a href="" class="menu-item">
        <p>0</p>
        <span>积分</span>
      </a>
      <a href="" class="menu-item">
        <p>0</p>
        <span>优惠券</span>
      </a>
      <a href="" class="menu-item">
        <p>0</p>
        <span>礼品卡</span>
      </a>
    </div>
  </header>
</body>
</html>