<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/conpons.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1869604_e8dxbgibxal.css">
    <script src="/javascripts/rem.js"></script>
</head>
<body>
    <%- include('publicStyle.html')%>
    <!-- <div class="expire_conpons">您暂时没有过期的优惠卷哦~</div> -->
    <div class="conpons_first">
        <div class="conpons_img">
            <img class=" imgs" src="http:////pic.midea.cn/pc/img/my/coupon/coupon_5.png?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <p class="price">￥<em class="num">50</em></p>
            <p class="priceContent">满400元可用</p>
        </div>
        <div class="substance">
            <p class="title_list" style="color: #333333;">【新会员专享】-商城-小家电满400减50卷<br></p>

            <p class="introduct" style="color: #999999;">美的官网商城</p>
            <p class="introduct" style="color: #999999;">指定品类使用</p>
            <p class="expire_text" style="color: #999999;">已过期</p>
            <!-- <p class="date">2004.08.14 - 2000.08.29</p>
            <p class="click-content"><a href="">查看适用商品</a></p> -->
        </div>
    </div>
</body>
</html>