<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/evaluating.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2021333_f94id1qjq05.css">
</head>

<body>
    <div class="main">
        <div class="top">
            <h1>评测试用</h1>
            <a href="" class="my_trival">
                <span>我的试用</span>
                <i class="iconfont icon-youjiantou my_trival-ico"></i>
            </a>
        </div>
        <div class="subscribe">
            <p class="subscribe_le">
                <span>试用上新短信提醒</span>
                <i class="iconfont icon-wenhao subscribe-ico"></i>
            </p>
            <p class="subscribe-rg1 subscribe-rg"></p>
        </div>
        <!-- 商品列表 -->
        <div class="user_cur">
            <div class="user_box">
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202008/5f407b60d7554.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus">
                            <p>正在进行</p>
                        </div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>1</span>位 ( <span>91</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">立即申请</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202008/5f30f3f49a189.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202007/5f226ae2397c7.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202007/5f100269e6619.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202006/5efab3ef86569.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202005/5ece178a63dad.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202005/5ec26e5aa76b5.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202004/5e85b79d63d5b.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202005/5eb366cee8679.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202004/5e93dfb6a0aed.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
                <div class="box-list">
                    <div class="box-list-img">
                        <a href="">
                            <img src="https://pic.midea.cn/h5/pic/202004/5e8417cfaa42a.jpg?x-oss-process=image/format,webp/quality,Q_90& "
                                alt="">
                        </a>
                        <div class="box-list-imgStatus box-list-imgStatus2">申请结束</div>
                    </div>
                    <div class="box-list-text">
                        <p class="box-list-text-p1">
                            名额 : <span>5</span>位 ( <span>140</span>人已申请 )
                        </p>
                        <p class="box-list-text-p2">
                            <a href="">查看详情</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/rem.js"></script>
    <script>
        //点击订阅
        $('.subscribe-rg').on('click', function () {
            if ($(this).is('.subscribe-rg2')) {
                $(this).removeClass('subscribe-rg2')
            } else {
                $(this).addClass('subscribe-rg2')
            }
        })

        //添加样式
        $('.box-list:gt(0)').css("margin-top","0.2rem")
    </script>
</body>

</html>