<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/follow.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2007327_9f4csgmczm7.css">
  <script src="/javascripts/rem.js"></script>
</head>

<body>
  <div class="followHeader">
    <a href="http://localhost:3000/users/center">
      <i class="iconfont icon-right"></i>
    </a>
    <p>我的关注</p>
  </div>
  <!-- <div class="followBox">
    <div class="followBoxItem">
      <div class="followItem">
        <img src="https://pic.midea.cn/ImageStore/112917/pic/96fd607e8a58cf9eA31157/96fd607e8a58cf9eA31157_280*280.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <p class="followItem_font">【送智能音箱】629L对开门智控冰箱 温控变频 风冷无霜BCD-629WKPZM(E)</p>
        <div class="followPrice">
          <p class="mod_price">¥ 3299.00</p>
          <p class="mod_price1">¥ 3134</p>
          <div class="followFont">PRO</div>
        </div>
        <div class="postBox">
          <p class="postBox_item"><span>PRO</span>精选</p>
          <p class="postBox_item1">七夕特惠</p>
        </div>
      </div>
      <div class="followItem">
        <img src="https://pic.midea.cn/ImageStore/112917/pic/96fd607e8a58cf9eA31157/96fd607e8a58cf9eA31157_280*280.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <p class="followItem_font">【送智能音箱】629L对开门智控冰箱 温控变频 风冷无霜BCD-629WKPZM(E)</p>
        <div class="followPrice">
          <p class="mod_price">¥ 3299.00</p>
          <p class="mod_price1">¥ 3134</p>
          <div class="followFont">PRO</div>
        </div>
        <div class="postBox">
          <p class="postBox_item"><span>PRO</span>精选</p>
          <p class="postBox_item1">七夕特惠</p>
        </div>
      </div>
      <div class="followItem">
        <img src="https://pic.midea.cn/ImageStore/112917/pic/96fd607e8a58cf9eA31157/96fd607e8a58cf9eA31157_280*280.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <p class="followItem_font">【送智能音箱】629L对开门智控冰箱 温控变频 风冷无霜BCD-629WKPZM(E)</p>
        <div class="followPrice">
          <p class="mod_price">¥ 3299.00</p>
          <p class="mod_price1">¥ 3134</p>
          <div class="followFont">PRO</div>
        </div>
        <div class="postBox">
          <p class="postBox_item"><span>PRO</span>精选</p>
          <p class="postBox_item1">七夕特惠</p>
        </div>
      </div>
      <div class="followItem">
        <img src="https://pic.midea.cn/ImageStore/112917/pic/96fd607e8a58cf9eA31157/96fd607e8a58cf9eA31157_280*280.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <p class="followItem_font">【送智能音箱】629L对开门智控冰箱 温控变频 风冷无霜BCD-629WKPZM(E)</p>
        <div class="followPrice">
          <p class="mod_price">¥ 3299.00</p>
          <p class="mod_price1">¥ 3134</p>
          <div class="followFont">PRO</div>
        </div>
        <div class="postBox">
          <p class="postBox_item"><span>PRO</span>精选</p>
          <p class="postBox_item1">七夕特惠</p>
        </div>
      </div>
      <div class="followItem">
        <img src="https://pic.midea.cn/ImageStore/112917/pic/96fd607e8a58cf9eA31157/96fd607e8a58cf9eA31157_280*280.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <p class="followItem_font">【送智能音箱】629L对开门智控冰箱 温控变频 风冷无霜BCD-629WKPZM(E)</p>
        <div class="followPrice">
          <p class="mod_price">¥ 3299.00</p>
          <p class="mod_price1">¥ 3134</p>
          <div class="followFont">PRO</div>
        </div>
        <div class="postBox">
          <p class="postBox_item"><span>PRO</span>精选</p>
          <p class="postBox_item1">七夕特惠</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="empty">
    亲，您没有关注商品！
  </div>
  <div class="followFooter">
    <a href="" class="followFooterItem item1">
      回首页
    </a>
    <a href="" class="followFooterItem item2">
      回顶部
    </a>
  </div>
</body>

</html>