<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/group.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2007327_s35xx1ny6wb.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="groupHeader">
    <a href="http://localhost:3000/users/center">
      <i class="iconfont icon-right"></i>
    </a>
    <p>我的团</p>
  </div>
  <div class="groupItem">
    <p>您还未开过团&nbsp;!</p>&nbsp; <a href=""><span>去开团</span></a>
  </div>
</body>
</html>