<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/helpCenter.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2007327_9f4csgmczm7.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="helpCenterHeader">
    <a href="http://localhost:3000/users/center">
      <i class="iconfont icon-right"></i>
    </a>
    <h1>帮助中心</h1>
  </div>
  <div class="helpCenterContainer">
    <ul class="helpCenterBox">
      <a href="">
        <li>
          <p>购物指南</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>账号与安全</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>发货&物流问题</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>发票问题</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>退款&售后问题</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>会员权益</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>特色服务</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>联系我们</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>活动与优惠</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>企业资质</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>美的食谱</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="">
        <li>
          <p>家电课堂</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
      <a href="" class="helpCenterDel">
        <li>
          <p>价格问题</p>
          <i class="iconfont icon-iconfontjiantou5"></i>
        </li>
      </a>
    </ul>
  </div>
</body>
</html>