<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜索</title>
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_2019043_ulp21y23efe.css">
  <link rel="shortcut icon" href="https://pic.midea.cn/pc/img/common/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/home_search.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="header">
    <form action="" id="form">
      <i class="iconfont icon-xiala"></i>
      <div class="search">
        <i class="iconfont icon-sousuo"></i>
        <input type="text" id="inp_search">
        <i class="inp_remove"></i>
      </div>
      <p class="search_click"></p>
    </form>
  </div>



  <script src="/javascripts/jQuery.js"></script>
</body>
</html>