<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_2019043_ulp21y23efe.css">
  <link rel="shortcut icon" href="https://pic.midea.cn/pc/img/common/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/home_login.css">
  <script src="/javascripts/rem.js"></script>

</head>
<body>
  <div class="login">
    <div class="box">
      <div class="header">
        <a href="http://localhost:3000" class="return">
          <i class="iconfont icon-xiala return_i"></i>
        </a>
        <div class="title">
          <a>账号密码登录</a>
          <a>短信验证码登录</a>
        </div>
      </div>

      <form id="form" >
        <!-- 账号 -->
        <div class="account">
          <input type="text" id="account" placeholder="请输入手机号">
        </div>
        <!-- 密码 -->
        <div class="psw">
          <input type="password" id="psw" placeholder="请输入密码">
        </div>
        <p class="forget">找回密码</p>
        <!-- 登录 -->
        <div class="submit">
          <input type="submit" id="submit" value="登录">
        </div>
      </form>
      <div class="DoRegistered">
        <a href="http://localhost:3000/DoRegistered">注册</a>
      </div>
    </div>
    <p class="prompt">账号或密码错误</p>
  </div>
  <script src="/javascripts/jQuery.js"></script>
  <script>
    $(function(){
      $('#form').submit(function(e){
        e.preventDefault()
        $.ajax({
          url:'http://localhost:3000/login',
          type:'post',
          data:{
            account:$('#account').val(),
            psw:$('#psw').val()
          },
          success:function(res){
            if(res.code === 1 && res.data !== undefined){
              console.log(res.data)
              location.href = 'http://localhost:3000'
            }else{
              $('.prompt').css("display","block")
              setTimeout(function(){
                $('.prompt').css("display","none")
              },2000)
            }
          }
        })
      })
    })

  </script>
</body>
</html>