<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <h1>这是主页</h1>
  <a href="./users">点击</a>
  <script src="./javascripts/jQuery.js"></script>


  <script>
    $(function(){
      $.ajax({
        url:'http://localhost:3000/users',
          type:'get',
          data:{
              // accound:$('#account').val(),
              // psw:$('#psw').val()
          },
          success:function(res){
            console.log(res)

          },
          useConnectionPooling: true,
      })
    })
  </script>
</body>
</html>