<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_2019043_3d18rj57kp9.css">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/swiper.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/header_footer.css">
  <script src="/javascripts/rem.js"></script>
</head>

<body>
  <!-- header -->
  <header class="header">
    <div class="header_box">
      <div class="search">
        <a href="#">
          <i class="iconfont icon-sousuo"></i>
          <input type="text" name="search" id="home_search" placeholder="输入你想要的商品">
        </a>
      </div>
      <a href="#" id="service">
        <i class="iconfont icon-erji01"></i>
      </a>
    </div>
  </header>
  <!-- 通知 -->
  <section class="notice">
    <i class="iconfont icon-laba"></i><!-- 喇叭-->
    <i class="iconfont icon-xiala" id="dropDown"></i><!-- 下拉-->
    <div id="notice">
      <p>
        【通知】受暴雨天气影响，四川省成都市、金堂县配送时效有所延迟；受疫情管控政策影响，新疆，大连长海县、瓦房店等区域发货/配送时效有所延迟，对您造成的不便，敬请谅解！
      </p>
    </div>
  </section>
  <!-- 轮播 -->
  <section class="home_banner">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/7a1a17e3c113.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/b856a3f08cb1.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@640w_300h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/d4777b9fc0c8.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/fb6e96ed82ef.png?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.png" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/f39a02673629.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202007/5f240072a41cf.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/3f31b2524be2.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/c728eb395af9.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/ceddf416f4ed.png?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.png" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202007/5f23f659df243.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;"  alt=""></a>0</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <!-- 商品分类 -->
  <section class="home_nav">
    <div class="nav">
      <ul>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/f65bedb5f3d3.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>空调</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/9645125e8ec1.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>冰箱</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/5f24211cc30a5.png?x-oss-process=image/format,webp/quality,Q_90&amp;" alt="">
            <span>洗衣机</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/fe5caeae5958.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>厨房大电</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/6ff6392cd04b.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>厨房小电</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/88bc966dcc04.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
            <span>智能套购</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/83aab90aa8f9.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.pn" alt="">
            <span>0元拼团</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/ecca840d10c9.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
            <span>实力新品</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/f73b853b21a9.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
            <span>分享得红包</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/5f2420cdd2c45.png?x-oss-process=image/format,webp/quality,Q_90&amp;" alt="">
            <span>PRO会员</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- 商品部分 -->
  <section class="home_goods">
    <!-- 首单满减 -->
    <section class="Full_reduction">
      <a href="#">
        <img src="https://pic.midea.cn/h5/pic/202004/5e42fe2cd63c.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
      </a>
    </section>
    <!-- 商品活动 -->
    <!-- 会员秒杀  热卖榜单 -->
    <div class="seconds_selling">

    </div>
  </section>


  <!-- 尾部导航 -->
  <footer class="footer">
    <ul class="footer_nav main_scattered">
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <i class="iconfont icon-shouyex"></i>
          <span>首页</span>
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <i class="iconfont icon-fenlei"></i>
          <span>分类</span>
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <img src="https://pic.mdcdn.cn/h5/pic/202007/5f23e3533b3b3.png" class="footer_icon" alt="">
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <i class="iconfont icon-gouwuche"></i>
          <span>购物车</span>
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <i class="iconfont icon-wo"></i>
          <span>我</span>
        </a>
      </li>
    </ul>
  </footer>






  <script src="/javascripts/jQuery.js"></script>
  <script src="/javascripts/swiper.min.js"></script>
  <script src="/javascripts/homePage.js"></script>
</body>

</html>