<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美的官网(Midea) -美的集团官方商城网站，直营空调、冰箱、洗衣机、压力锅、电烤箱、面包机等电器。</title>
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_2019043_ulp21y23efe.css">
  <link rel="shortcut icon" href="https://pic.midea.cn/pc/img/common/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/swiper.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/header_footer.css">
  <script src="/javascripts/rem.js"></script>
</head>

<body>
  <!-- header -->
  <header class="header">
    <div class="header_box">
      <div class="search">
        <a href="#">
          <i class="iconfont icon-sousuo"></i>
          <input type="text" name="search" id="home_search" placeholder="输入你想要的商品">
        </a>
      </div>
      <a href="#" id="service">
        <i class="iconfont icon-erji01"></i>
      </a>
    </div>
  </header>
  <!-- 通知 -->
  <section class="notice">
    <i class="iconfont icon-laba"></i><!-- 喇叭-->
    <i class="iconfont icon-xiala" id="dropDown"></i><!-- 下拉-->
    <div id="notice">
      <p>
        【通知】受暴雨天气影响，四川省成都市、金堂县配送时效有所延迟；受疫情管控政策影响，新疆，大连长海县、瓦房店等区域发货/配送时效有所延迟，对您造成的不便，敬请谅解！
      </p>
    </div>
  </section>
  <!-- 轮播 -->
  <section class="home_banner">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/a5485ab31964.png?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.png" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/b856a3f08cb1.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@640w_300h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/d4777b9fc0c8.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/fb6e96ed82ef.png?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.png" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/f39a02673629.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202007/5f240072a41cf.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/3f31b2524be2.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/c728eb395af9.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202008/ceddf416f4ed.png?x-oss-process=image/format,webp/quality,Q_90&amp;@686w_280h_100Q.png" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="https://pic.midea.cn/h5/pic/202007/5f23f659df243.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;"  alt=""></a>0</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <!-- 商品分类 -->
  <section class="home_nav">
    <div class="nav">
      <ul>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/f65bedb5f3d3.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>空调</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/9645125e8ec1.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>冰箱</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/5f24211cc30a5.png?x-oss-process=image/format,webp/quality,Q_90&amp;" alt="">
            <span>洗衣机</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/fe5caeae5958.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>厨房大电</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/6ff6392cd04b.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>厨房小电</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/88bc966dcc04.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
            <span>智能套购</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/83aab90aa8f9.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.pn" alt="">
            <span>0元拼团</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/ecca840d10c9.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
            <span>实力新品</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202008/f73b853b21a9.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
            <span>分享得红包</span>
          </a>
        </li>
        <li class="nav_list">
          <a class="nav-list-a" href="">
            <img src="https://pic.midea.cn/h5/pic/202007/5f2420cdd2c45.png?x-oss-process=image/format,webp/quality,Q_90&amp;" alt="">
            <span>PRO会员</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- 商品部分 -->
  <section class="home_goods">
    <!-- 首单满减 -->
    <section class="Full_reduction">
      <a href="#">
        <img src="https://pic.midea.cn/h5/pic/202004/5e42fe2cd63c.png?x-oss-process=image/format,webp/quality,Q_90&amp;@100Q.png" alt="">
      </a>
    </section>
    <!-- 商品活动 -->
    <!-- 会员秒杀  热卖榜单 -->
    <div class="seconds_selling main_scattered">
      <div class="seconds">
        <a href="">
          <div class="se_top">
            <h3>会员秒杀</h3>
            <div class="session main_scattered">
              <font>10点场</font>
              <p>
                <span id="shi">12</span>:
                <span id="fen">45</span>:
                <span id="miao">01</span>
              </p>
            </div>
            <p class="dijia">每日低价秒杀</p>
          </div>
          <div class="se_bottom main_scattered">
            <div class="se_bo_list">
              <img src="//pic.midea.cn/ImageStore/172556/pic/43e662030ca52f9eA8135/43e662030ca52f9eA8135_280*280.jpg" alt="">
              <p>￥3499</p>
              <span>￥4699</span>
            </div>
            <div class="se_bo_list">
              <img src="//pic.midea.cn/ImageStore/170442/pic/52fb35302cd14b0dA8227/52fb35302cd14b0dA8227_280*280.jpg" alt="">
              <p>￥74.5</p>
              <span>￥149</span>
            </div>

            <div class="se_bo_list">
              <img src="//pic.midea.cn/ImageStore/201882/pic/08ddc5ecf5cfe92aA3858/08ddc5ecf5cfe92aA3858_280*280.jpg" alt="">
              <p>￥23</p>
              <span>￥37.9</span>
            </div>
          </div>
        </a>
      </div>

      <div class="selling">
        <a href="">
          <div class="se_top">
            <h3>热卖榜单</h3>
            <div class="session main_scattered">
              <p class="selling_p main_scattered">
                热卖榜单<i class="iconfont icon-xiala"></i>
              </p>
            </div>
            <p class="dijia">享惊喜折扣</p>
          </div>
          <div class="se_bottom main_scattered">
            <div class="se_bo_list se_bo_list_x">
              <img class="selling_img" src="https://pic.midea.cn/h5/pic/202007/95955677499d.png?x-oss-process=image/format,webp/quality,Q_90&amp;@450w_216h_100Q.png" alt="">
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- 品牌分类 -->
    <div class="goods_nav">
      <ul class="main_scattered">
        <li class="go_nav_list">
          <a href="">
            <h4>布谷</h4>
            <p>智趣好生活</p>
            <img src="https://pic.midea.cn/h5/pic/202007/2384420450e0.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@192w_192h_100Q.jpg" alt="">
          </a>
        </li>
        <li class="go_nav_list">
          <a href="">
            <h4>华凌</h4>
            <p>年轻人喜爱</p>
            <img src="https://pic.midea.cn/h5/pic/202007/8c5730eb90ab.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@192w_192h_100Q.jpg" alt="">
          </a>
        </li>
        <li class="go_nav_list">
          <a href="">
            <h4>小天鹅</h4>
            <p>AI科技家电</p>
            <img src="https://pic.midea.cn/h5/pic/202007/c0c1bd98e589.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@192w_192h_100Q.jpg" alt="">
          </a>
        </li>
        <li class="go_nav_list">
          <a href="">
            <h4>COLMO</h4>
            <p>精选好品质</p>
            <img src="https://pic.midea.cn/h5/pic/202007/6ff722690523.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@192w_192h_100Q.jpg" alt="">
          </a>
        </li>
        <li class="go_nav_list">
          <a href="">
            <h4>0元拼团</h4>
            <p>每周拼团福利</p>
            <img src="https://pic.midea.cn/h5/pic/202007/5f242654af4d6.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;" alt="">
          </a>
        </li>
        <li class="go_nav_list">
          <a href="">
            <h4>实力新品</h4>
            <p>发现新生活</p>
            <img src="https://pic.midea.cn/h5/pic/202008/8a4c12672792.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@640w_640h_100Q.jpg" alt="">
          </a>
        </li>
        <li class="go_nav_list">
          <a href="">
            <h4>领劵中心</h4>
            <p>神劵都在这</p>
            <img src="https://pic.midea.cn/h5/pic/202007/5f242daa7b529.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;" alt="">
          </a>
        </li>
        <li class="go_nav_list">
          <a href="">
            <h4>PRO精选</h4>
            <p>PRO尊享好价</p>
            <img src="https://pic.midea.cn/h5/pic/202007/cc04613de31d.jpg?x-oss-process=image/format,webp/quality,Q_90&amp;@192w_192h_100Q.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
    <!-- 会员专区 -->
    <div class="members_zone ba_co">
      <div class="me_zone_title main_scattered">
        <h4>会员专区</h4>
        <span class="main_scattered">更多特权 <i class="iconfont icon-xiala"></i></span>
      </div>
      <ul class="main_scattered">
        <li class="me_zone_list">
          <a href="" class="side_scattered">
            <img src="https://pic.midea.cn/h5/pic/202007/730b2108cb0c.png?x-oss-process=image/format,webp/quality,Q_90&amp;@117w_117h_100Q.png" alt="">
            <span>签到积分</span>
          </a>
        </li>
        <li class="me_zone_list">
          <a href="" class="side_scattered">
            <img src="https://pic.midea.cn/h5/pic/202007/2b10728d0637.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>签到积分</span>
          </a>
        </li>
        <li class="me_zone_list">
          <a href="" class="side_scattered">
            <img src="https://pic.midea.cn/h5/pic/202007/40688e062cd5.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>签到积分</span>
          </a>
        </li>
        <li class="me_zone_list">
          <a href="" class="side_scattered">
            <img src="https://pic.midea.cn/h5/pic/202007/5a76f47d17bf.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>签到积分</span>
          </a>
        </li>
        <li class="me_zone_list">
          <a href="" class="side_scattered">
            <img src="https://pic.midea.cn/h5/pic/202007/bd7eaec6eefb.png?x-oss-process=image/format,webp/quality,Q_90&amp;@120w_120h_100Q.png" alt="">
            <span>签到积分</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 20日会员日 每周五特惠 -->
    <div class="preferential">
      <ul  class="main_scattered">
        <li class="pref_list ba_co">
          <a href="">
            <div class="pref_list_text">
              <h4>20日会员日</h4>
              <p>购物享五倍积分</p>
              <span>订阅</span>
            </div>
            <img src="https://pic.midea.cn/h5/pic/202007/d4e9748336f6.png?x-oss-process=image/format,webp/quality,Q_90&amp;@504w_384h_100Q.png" alt="">
          </a>
        </li>
        <li class="pref_list ba_co">
          <a href="http://localhost:3000/FridayPre">
            <div class="pref_list_text">
              <h4>每周五特惠</h4>
              <p>每周五特惠</p>
              <span>订阅</span>
            </div>
            <img src="https://pic.midea.cn/h5/pic/202007/f6b8d147ecfb.png?x-oss-process=image/format,webp/quality,Q_90&amp;@504w_384h_100Q.png" alt="">
          </a>
        </li>
        
      </ul>
    </div>
    <!-- 商品 -->
    <ul class="goods_class">
      <li class="go_cl_list">
        <h4>活动</h4>
        <span class="active_t">购物享好礼</span>
      </li>
      <li class="go_cl_list">
        <h4>厨房</h4>
        <span>精致生活</span>
      </li>
      <li class="go_cl_list">
        <h4>卫浴</h4>
        <span>烧水不等待</span>
      </li>
      <li class="go_cl_list">
        <h4>卧室</h4>
        <span>舒适睡眠</span>
      </li>
      <li class="go_cl_list">
        <h4>客厅</h4>
        <span>智能精选</span>
      </li>
    </ul>
    <!-- 商品列表 -->
    <section id="list_of_goods">
      <div class="list_of_goods">
        <div class="list_of_goods_l active_go">
          <ul id="goods_ul" class="main_scattered">
            <!-- <li class="of_list ba_co">
              <a href="">
                <div class="title_l main_scattered">
                  <p>限时24小时抢购</p>
                  <span>PRO精选</span>
                </div>
                <img src="//pic.midea.cn/ImageStore/195926/pic/ed1a580b91d2de28A27963/ed1a580b91d2de28A27963_280*280.jpg" alt="" class="of_img">
                <div class="goods_name">
                  <p>【送赠】美的空调 新能效智弧 智能变频冷暖大1.5匹壁挂式智控温 KFR-35GW/N8MJA3</p>
                  <font class="main_scattered font_of_1">
                    <i>￥</i>
                    <span class="price">2099</span>
                  </font>
                  <div class="hy_price">
                    <font class="main_scattered">
                      <i>￥</i>
                      <span class="price">2099</span>
                    </font>
                    <span class="of_pro">PRO</span>
                  </div>
                  <i class="shopping_cart iconfont icon-gouwuche"></i>
                </div>
              </a>
            </li> -->
          </ul>
        </div>
        <div class="list_of_goods_l">
          <ul id="goods_ul_2" class="main_scattered">

          </ul>
        </div>
        <div class="list_of_goods_l">
          <ul id="goods_ul_3" class="main_scattered">

          </ul>
        </div>
        <div class="list_of_goods_l">
          <ul id="goods_ul_4" class="main_scattered">

          </ul>
        </div>
        <div class="list_of_goods_l">
          <ul id="goods_ul_5" class="main_scattered">

          </ul>
        </div>
      </div>
    </section>
  </section>
  <!-- 商品售后 -->
  <div class="goods_footer ba_co">
    <ul class="main_scattered">
      <li class="go_fo_list side_scattered">
        <i class="iconfont icon-zhengpinbaozhang"></i>
        <span>正品保障</span>
      </li>
      <li class="go_fo_list side_scattered">
        <i class="iconfont icon-7day"></i>
        <span>7天无理由</span>
      </li>
      <li class="go_fo_list side_scattered">
        <i class="iconfont icon-dianhua1"></i>
        <span>4008899315</span>
      </li>
      <li class="go_fo_list side_scattered">
        <i class="iconfont icon-anquanzhongxin"></i>
        <span>企业资质</span>
      </li>
    </ul>
    <ol class="go_fo_ol">
      <li class="go_fo_ol_li">
        服务条款
      </li>
      <li class="go_fo_ol_li">
        企业采购
      </li>
      <li class="go_fo_ol_li">
        隐私政策
      </li>
      <li class="go_fo_ol_li">
        联系我们
      </li>
    </ol>
    <p class="goods_footer_text">Copyright © 1968-2020 广东美的网络科技有限公司</p>
  </div>
  <!-- 尾部导航 -->
  <footer class="footer">
    <ul class="footer_nav main_scattered">
      <li class="footer_list">
        <a class="footer_a side_scattered active" href="javascript:;">
          <i class="iconfont icon-tubiao115"></i>
          <span>首页</span>
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <i class="iconfont icon-fenlei"></i>
          <span>分类</span>
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <img src="https://pic.mdcdn.cn/h5/pic/202007/5f23e3533b3b3.png" class="footer_icon" alt="">
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="javascript:;">
          <i class="iconfont icon-gouwuche"></i>
          <span>购物车</span>
        </a>
      </li>
      <li class="footer_list">
        <a class="footer_a side_scattered" href="http://localhost:3000/login">
          <i class="iconfont icon-wo"></i>
          <span>我</span>
        </a>
      </li>
    </ul>
  </footer>

  <script src="/javascripts/jQuery.js"></script>
  <script src="/javascripts/swiper.min.js"></script>
  <script src="/javascripts/homePage.js"></script>
  <script>
      // $.ajax({
      //   url:'http://172.16.5.129:3000/details',
      //   type:'get',
      //   success:function(res){
      //     console.log(res.data[0])
      //     let arr_url = eval('(' + res.data[0].details_url + ')');
      //     let arr_url_2 = eval('(' + res.data[1].details_url + ')');
      //     console.log(arr_url)
      //     console.log(arr_url_2)
          
      //   }
      // })
      // $.ajax({
      //   url:'http://172.16.5.129:3000/Product_data',
      //   type:'get',
      //   success:function(res){
      //     console.log(res.data[0])
      //   }
      // })
  </script>
</body>

</html>