<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/integral.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2007327_s35xx1ny6wb.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="integralHeader">
    <a href="http://localhost:3000/users/center">
      <i class="iconfont icon-right"></i>
    </a>
    <p>我的积分</p>
  </div>
  <div class="integralContent">
    <div class="integralBox">
      <p>可用积分</p>
      <span>0</span>
      <a href="">花积分<i class="iconfont icon-iconfontjiantou5"></i></a>
    </div>
    <div class="integralBox1"></div>
    <div class="integralBox2">
      <p>本月&nbsp;&nbsp;即将过期</p>
      <span>0</span>
    </div>
    <div class="integralItem"><a href=""><i class="iconfont icon-wenhao"></i></a></div>
  </div>
</body>
</html>