<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/library.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2007327_9f4csgmczm7.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="libraryHeader">
    <a href="http://localhost:3000/users/center">
      <i class="iconfont icon-right"></i>
    </a>
    <p>我的产品库</p>
  </div>
  <div class="libraryWrap">
    <p>在指定店铺支付成功后7天内，系统会完成数据同步。</p>
    <a href="">查看详细说明</a>
  </div>
  <div class="libraryPosit">
    <p>没有美的产品记录，<a href="">立即去购买</a></p>
  </div>
</body>
</html>