<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/lottery.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1869604_e8dxbgibxal.css">
    <script src="/javascripts/rem.js"></script>
</head>
<body>
    <div class="main">
     <div class="lottery_pic">
         <img class="lottery_branch lottery_Style" src="https://pic.midea.cn/pc/pic/201912/5e0492a5399b4.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
         <img class="lottery_Style "src="https://pic.midea.cn/pc/pic/201912/5e04922599e77.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
         <img class="lottery_Style "src="http://pic.midea.cn/h5/img/act/lottery/btn_v3.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
         <img class="lottery_Style "src="http://pic.midea.cn/h5/img/act/lottery/btn_pre_v3.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
         <p class="lottery_people">参与人数:<span>0</span></p>
         <p class="personle_integrate">我的积分<span>0</span></p>
         <p class="show_prize">&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: #ffddae;text-decoration: underline;" href="">&nbsp;查看我的奖品</a></p>
          <p class="sign_text">10积分抽一次奖每天抽奖次数不限</p>
     </div>
     <div></div>
     <div class="prize_list">
         <div class="list_title">获奖名单</div>
         <div>
             <!-- <ul>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
             </ul> -->
         </div>
     </div>
     <div class=" footer">
         <a class="foot_text" href="">点击查看详细活动规则></a>
     </div>
    </div>
</body>
</html>