<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/lx.css">
</head>
<body>
    <header>
        <div class="hd-col-left"></div>
        <div class="hd-col-middle">购物车</div>
        <div class="hd-col-right"></div>
    </header>
    <script src="./javascripts/jquery.js"></script>

    <script src="./javascripts/rem.js"></script>
</body>
</html>