<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/medal.css">
  <script src="/javascripts/rem.js"></script>
</head>

<body>
  <div class="container">
    <div class="wrap">
      <p>规则说明</p>
    </div>
    <div class="portrait">
      <img src="https://filecmms.midea.com/ccrm-prod/userHeadImg/defaultHeadImg.png" alt="">
      <p>屿莣</p>
    </div>
    <a href="http://localhost:3000/users/center/medal/my_privilege">
      <div class="privilege">
        <img src="https://pic.midea.cn/h5/img/2020/medal/tequan_logo.png" alt="">
        <span>我的特权</span>
      </div>
    </a>
    <p class="item">我的勋章<span>0</span>勋章排名前<span>1%</span></p>
  </div>
  <div class="medal">
    <div class="medal-box">
      <div class="medal-btn btn1 active">家电勋章</div>
      <div class="medal-btn btn">历程勋章</div>
    </div>
    <div class="boxMedal">
      <div class="boxMedal-show">
        <ul class="medal-item">
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
            <p>微波炉</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd317fc22eb.png" alt="">
            <p>干衣机</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd303c191e1.png" alt="">
            <p>洗衣机</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebe4c74d24a6.png" alt="">
            <p>空调扇</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebe4af50efa5.png" alt="">
            <p>电风扇</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebe4418d0e51.png" alt="">
            <p>榨汁机</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebe417a15ae7.png" alt="">
            <p>酒柜</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd3624d79a1.png" alt="">
            <p>破壁机</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd34f118c44.png" alt="">
            <p>空气净化器</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd2ea9e577e.png" alt="">
            <p>家用空调</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd2840a6f76.png" alt="">
            <p>冰箱</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd2628be620.png" alt="">
            <p>冰柜</p>
          </li>
        </ul>
        <a href="">
          <p class="share-item">晒出我的勋章</p>
        </a>
      </div>
      <div class="boxMedal-show1 activeTwo">
        <ul class="medal-item">
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_dcsf_t.png" alt="">
            <p>多重身份</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_yljz_lock.png" alt="">
            <p>雨露均沾</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_jdscj_lock.png" alt="">
            <p>家电收藏家</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_hqct_lock.png" alt="">
            <p>豪气冲天</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_mdrs_lock.png" alt="">
            <p>美的人生</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_dkkm_lock.png" alt="">
            <p>打卡狂魔</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_hjrt_lock.png" alt="">
            <p>挥金如土</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_wptyg_lock_v2.png" alt="">
            <p>王牌体验官</p>
          </li>
          <li>
            <img src="https://pic.mdcdn.cn/h5/img/2019/open/medal/icons/cj_jdxs_lock.png" alt="">
            <p>精打细算</p>
          </li>
          <li>
            <img src="https://pic.midea.cn/h5/img/2019/open/medal/icons/lx_xtm_lock.png" alt="">
            <p>小透明李现</p>
          </li>
        </ul>
        <a href="">
          <p class="share-item">晒出我的勋章</p>
        </a>
      </div>
    </div>
  </div>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/medal.js"></script>
</body>

</html>