<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/medal.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="container">
    <div class="wrap">
      <p>规则说明</p>
    </div>
    <div class="portrait">
      <img src="https://filecmms.midea.com/ccrm-prod/userHeadImg/defaultHeadImg.png" alt="">
      <p>屿莣</p>
    </div>
    <div class="privilege">
      <img src="https://pic.midea.cn/h5/img/2020/medal/tequan_logo.png" alt="">
      <span>我的特权</span>
    </div>
    <p class="item">我的勋章<span>0</span>勋章排名前<span>79%</span></p>
  </div>
  <div class="medal">
    <div class="medal-box">
      <div class="medal-btn btn1 active">家电勋章</div>
      <div class="medal-btn btn">历程勋章</div>
    </div>
    <ul class="medal-item">
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
      <li>
        <img src="https://pic.mdcdn.cn/h5/pic/202005/5ebd32b590c83.png" alt="">
        <p>微波炉</p>
      </li>
    </ul>
  </div>
</body>
</html>