<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/memberCenter.css">
    <link rel="stylesheet" href="https:////at.alicdn.com/t/font_2021333_couvloggzbh.css">
</head>
<body>
    <div class="main">
        <!-- 开通会员 -->
        <div class="user_head">
            <div class="user_head-list">
                <ul>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-qiandai "></i>
                        </div>
                        <p class="user_head-list-l-p1">PRO价</p>
                        <p class="user_head-list-l-p2">购物更值</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-youhuiquan "></i>
                        </div>
                        <p class="user_head-list-l-p1">1420元/月</p>
                        <p class="user_head-list-l-p2">1420元/月</p>
                         <!-- 接口 -->
                         <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-qiandai "></i>
                        </div>
                        <p class="user_head-list-l-p1">10倍积分</p>
                        <p class="user_head-list-l-p2">兑换好礼</p>
                         <!-- 接口 -->
                         <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-jifen "></i>
                        </div>
                        <p class="user_head-list-l-p1">30天保价</p>
                        <p class="user_head-list-l-p2">买贵补差价</p>
                         <!-- 接口 -->
                         <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-vip "></i>
                        </div>
                        <p class="user_head-list-l-p1">kaoker</p>
                        <p class="user_head-list-l-p2">专业烘焙教学</p>
                         <!-- 接口 -->
                         <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-comiisbiaoqian "></i>
                        </div>
                        <p class="user_head-list-l-p1">全屋套购</p>
                        <p class="user_head-list-l-p2">低至88折</p>
                         <!-- 接口 -->
                         <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-yanchi "></i>
                        </div>
                        <p class="user_head-list-l-p1">0元延保</p>
                        <p class="user_head-list-l-p2">88折清洗</p>
                         <!-- 接口 -->
                         <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-gengduo "></i>
                        </div>
                        <p class="user_head-list-l-p1">更多权益</p>
                        <p class="user_head-list-l-p2">敬请期待</p>
                         <!-- 接口 -->
                         <a href=""></a>
                    </li>
                </ul>
                <div class="user_head-text">
                    限时开通低至 
                    <span>¥169/年</span>
                    <a href=""></a>
                </div>
                <div class="user_head-txt">
                    开通PRO会员平均可省￥1677元/年
                </div>
            </div>
        </div>
        <!-- 评测试用 -->
        <div class="user_trial">
            <img src="https://pic.mdcdn.cn/h5/pic/202008/a670c70570c7.jpg@100Q.jpg" alt="">
            <a href=""></a>
        </div>
        <!-- 开卡礼包 -->
        <div class="user_gift">
            <p class="user_gift-p1">商城开卡限时送270元开卡大礼包</p>
            <p class="user_gift-p2">券有效期30天自动到账，其他渠道开卡不享受 </p>
            <div class="user_gift-list">
                <div class="gift-list-1">
                    <div class="gift-list-pro">

                    </div>
                    <p class="gift-list-1p">
                        <i class="iconfont icon-qian"></i>
                        50
                    </p>
                    <p class="gift-list-2p">【开卡专享】满50元可用</p>
                </div>
                <div class="gift-list-1">
                    <div class="gift-list-pro">

                    </div>
                    <p class="gift-list-1p">
                        <i class="iconfont icon-qian"></i>
                        50
                    </p>
                    <p class="gift-list-2p">【开卡专享】满499元可用</p>
                </div>
                <div class="gift-list-1">
                    <div class="gift-list-pro">

                    </div>
                    <p class="gift-list-1p">
                        <i class="iconfont icon-qian"></i>
                        170
                    </p>
                    <p class="gift-list-2p">【开卡专享】满13990元可用</p>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/rem.js"></script>
</body>
</html>