<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRO 会员中心</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/memberCenter.css">
    <link rel="stylesheet" href="https:////at.alicdn.com/t/font_2021333_couvloggzbh.css">
</head>

<body>
    <div class="main">
        <!-- 开通会员 -->
        <div class="user_head">
            <div class="user_head-list">
                <ul>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-qiandai "></i>
                        </div>
                        <p class="user_head-list-l-p1">PRO价</p>
                        <p class="user_head-list-l-p2">购物更值</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-youhuiquan "></i>
                        </div>
                        <p class="user_head-list-l-p1">1420元/月</p>
                        <p class="user_head-list-l-p2">1420元/月</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-qiandai "></i>
                        </div>
                        <p class="user_head-list-l-p1">10倍积分</p>
                        <p class="user_head-list-l-p2">兑换好礼</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-jifen "></i>
                        </div>
                        <p class="user_head-list-l-p1">30天保价</p>
                        <p class="user_head-list-l-p2">买贵补差价</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-vip "></i>
                        </div>
                        <p class="user_head-list-l-p1">kaoker</p>
                        <p class="user_head-list-l-p2">专业烘焙教学</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-comiisbiaoqian "></i>
                        </div>
                        <p class="user_head-list-l-p1">全屋套购</p>
                        <p class="user_head-list-l-p2">低至88折</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-yanchi "></i>
                        </div>
                        <p class="user_head-list-l-p1">0元延保</p>
                        <p class="user_head-list-l-p2">88折清洗</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                    <li class="user_head-list-l">
                        <div class="user_head-icon">
                            <i class="iconfont icon-gengduo "></i>
                        </div>
                        <p class="user_head-list-l-p1">更多权益</p>
                        <p class="user_head-list-l-p2">敬请期待</p>
                        <!-- 接口 -->
                        <a href=""></a>
                    </li>
                </ul>
                <div class="user_head-text">
                    限时开通低至¥169/年
                    <span>¥299/年</span>
                    <a href=""></a>
                </div>
                <div class="user_head-txt">
                    开通PRO会员平均可省￥1677元/年
                    <i class="iconfont icon-gengduo cl"></i>
                </div>
            </div>
        </div>
        <!-- 评测试用 -->
        <div class="user_trial">
            <img src="https://pic.mdcdn.cn/h5/pic/202008/a670c70570c7.jpg@100Q.jpg" alt="">
            <a href=""></a>
        </div>
        <!-- 开卡礼包 -->
        <div class="user_gift">
            <p class="user_gift-p1">商城开卡限时送270元开卡大礼包</p>
            <p class="user_gift-p2">券有效期30天自动到账，其他渠道开卡不享受 </p>
            <div class="user_gift-list">
                <div class="gift-list-1">
                    <div class="gift-list-pro">
                        PRO
                    </div>
                    <p class="gift-list-1p">
                        <i class="iconfont icon-qian"></i>
                        50
                    </p>
                    <p class="gift-list-2p">【开卡专享】满50元可用</p>
                </div>
                <div class="gift-list-1">
                    <div class="gift-list-pro">
                        PRO
                    </div>
                    <p class="gift-list-1p">
                        <i class="iconfont icon-qian"></i>
                        50
                    </p>
                    <p class="gift-list-2p">【开卡专享】满499元可用</p>
                </div>
                <div class="gift-list-1">
                    <div class="gift-list-pro">
                        PRO
                    </div>
                    <p class="gift-list-1p">
                        <i class="iconfont icon-qian"></i>
                        170
                    </p>
                    <p class="gift-list-2p">【开卡专享】满13990元可用</p>
                </div>
            </div>
        </div>
        <!-- 每月优惠券 -->
        <div class="user_coupon">
            <p class="user_gift-p1">每月1420元优惠券</p>
            <p class="user_gift-p2">每月可领 领取后当月有效 </p>
            <div class="user_coupon-list">
                <div class="gift-list-1 coupon-list1">
                    <div class="gift-list-pro">
                        PRO
                    </div>
                    <div class="coupon-box">
                        <p class="gift-list-1p">
                            <i class="iconfont icon-qian"></i>
                            25
                        </p>
                        <p class="gift-list-2p coupon-box-2p">【每月】满25元可用</p>
                    </div>
                    <div class="coupon-box-ab">立即领取</div>
                </div>
                <div class="gift-list-1 coupon-list1">
                    <div class="gift-list-pro">
                        PRO
                    </div>
                    <div class="coupon-box">
                        <p class="gift-list-1p">
                            <i class="iconfont icon-qian"></i>
                            50
                        </p>
                        <p class="gift-list-2p coupon-box-2p">【每月】满1000元可用</p>
                    </div>
                    <div class="coupon-box-ab">立即领取</div>
                </div>
                <div class="gift-list-1 coupon-list1">
                    <div class="gift-list-pro">
                        PRO
                    </div>
                    <div class="coupon-box">
                        <p class="gift-list-1p">
                            <i class="iconfont icon-qian"></i>
                            100
                        </p>
                        <p class="gift-list-2p coupon-box-2p">【每月】满2000元可用</p>
                    </div>
                    <div class="coupon-box-ab">立即领取</div>
                </div>
                <div class="gift-list-1 coupon-list1">
                    <div class="gift-list-pro">
                        PRO
                    </div>
                    <div class="coupon-box">
                        <p class="gift-list-1p">
                            <i class="iconfont icon-qian"></i>
                            150
                        </p>
                        <p class="gift-list-2p coupon-box-2p">【每月】满3000元可用</p>
                    </div>
                    <div class="coupon-box-ab">立即领取</div>
                </div>
            </div>
        </div>
        <!-- 会员延保 -->
        <div class="user_insurance">
            <a href="">
                <img src="https://pic.mdcdn.cn/h5/pic/201904/eaa40958c08a.png@100Q.png " alt="">
            </a>
        </div>
        <!-- 会员积分 -->
        <div class="user_integral">
            <div class="user_integral-head">
                <p class="integral-head-p1">PRO会员积分</p>
                <p class="integral-head-p2">兑换专属好礼</p>
            </div>
            <div class="user_integral-center">
                <div class="integral-center">
                    <p class="integral-center-P1">积分兑换</p>
                    <div class="integral-center-item">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/201910/5da8548a15d89.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>EDO 旅行收纳袋套装六件套</h3>
                            <p>3200积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item integral-center-item2">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ec24c7b783c5.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>罗技M185(M186)无线鼠标</h3>
                            <p>7000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ed20f1a59fa3.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>卡夫威尔 家用工具箱 H4001A 129件套</h3>
                            <p>12000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item integral-center-item2">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ec5ed3229d5d.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>国家地理背包大容量双肩包 15.6英寸</h3>
                            <p>25000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ed1d88265a84.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>Zippo打火机 煤油防风火机</h3>
                            <p>11000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item integral-center-item2">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ec24dd706b43.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>公牛魔方智能USB插座 （白色+1.5米线长）</h3>
                            <p>8000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ec24ac55edd3.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>荣耀智能体脂秤2</h3>
                            <p>13000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item integral-center-item2">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/202005/5ec251b1456a6.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>荣耀手环5 NFC版 陨石黑</h3>
                            <p>23000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/201910/5da8598c3d808.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>Apple AirPods 2代 配充电盒 Apple蓝牙耳机</h3>
                            <p>140000积分</p>
                        </div>
                    </div>
                    <div class="integral-center-item integral-center-item2">
                        <div class="gift-list-pro integral-list-pro">PRO专享</div>
                        <div class="integral-center-img">
                            <img src="https://pic.mdcdn.cn/h5/pic/201910/5da853d604017.png" alt="">
                        </div>
                        <div class="integral-center-text">
                            <h3>天堂伞 三折雨伞晴雨伞</h3>
                            <p>3000积分</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 推荐商品 -->
        <div class="user_recommend">
            <p class="user_gift-p1">PRO专享价 推荐商品</p>
            <p class="user_gift-p2">开通享全场热销商品专属PRO价 可叠加券和赠品</p>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/112036/pic/0f8d3b819c3aac3dA26121/0f8d3b819c3aac3dA26121_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            电磁炉 匀火系列 时尚面板 送渗氮炒锅 高档法式汤锅 C21-WT2112T
                        </p>
                        <p class="pro_price">
                            ¥ 209.00
                            <span class="pro_price-txt">¥ 188.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/185387/pic/0522752df1eb692eA20044/0522752df1eb692eA20044_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            电热饭盒 蒸汽加热 新鲜锁味 还原现做口感 MB-FB10M205
                        </p>
                        <p class="pro_price">
                            ¥ 139.00
                            <span class="pro_price-txt">¥ 125.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/149119/pic/48901040123f16cbA26069/48901040123f16cbA26069_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            Wifi智能电饭煲 3升容量3-6人 IH加热 MB-WHS30C96
                        </p>
                        <p class="pro_price">
                            ¥ 299.00
                            <span class="pro_price-txt">¥ 269.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/172982/pic/72064e712deb8ecbA15663/72064e712deb8ecbA15663_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            【下单送沥糖釜】低糖电饭煲 4L智能WiFi IH加热 钛金鼎釜 MB-HZ4005Pro
                        </p>
                        <p class="pro_price">
                            ¥ 1999.00
                            <span class="pro_price-txt">¥ 1799.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/156138/pic/2a15bfed95bad469A22510/2a15bfed95bad469A22510_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            【品质之选】电饭煲 4L IH大火力加热 多功能菜单 香甜精铁釜内胆 MB-FB40Star301
                        </p>
                        <p class="pro_price">
                            ¥ 449.00
                            <span class="pro_price-txt">¥ 404.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/159192/pic/00941261f7083e24A30223/00941261f7083e24A30223_430*430.png"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            【送智能音箱】525L对开门智能冰箱 大家庭优选 风冷无霜 热销爆款BCD-525WKPZM(E)
                        </p>
                        <p class="pro_price">
                            ¥ 2799.00
                            <span class="pro_price-txt">¥ 2659.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/154165/pic/0b99d7ed9a84dcd1A16515/0b99d7ed9a84dcd1A16515_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            【送智能音箱】318L多门智能变频冰箱 雷达感温 速冷速冻BCD-318WTPZM(E)
                        </p>
                        <p class="pro_price">
                            ¥ 2799.00
                            <span class="pro_price-txt">¥ 2659.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/170104/pic/cee1d9d16970da6eA7583/cee1d9d16970da6eA7583_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            【阿尔法】净水机 600G一根芯 智能 配水龙头MRO1890-600G
                        </p>
                        <p class="pro_price">
                            ¥ 3898.00
                            <span class="pro_price-txt">¥ 3703.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/145318/pic/792207aa790af94cA13209/792207aa790af94cA13209_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            【热销爆款】231升三门风冷冰箱 无霜力荐 电脑控温 BCD-231WTM(E)
                        </p>
                        <p class="pro_price">
                            ¥ 1799.00
                            <span class="pro_price-txt">¥ 1709.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/110345/pic/1d8083848c23f2eeA27831/1d8083848c23f2eeA27831_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            电烤箱 上下独立控温 能烘会烤 35L大容量 四层烤位 钻面内腔 均匀加热 T3-L326B
                        </p>
                        <p class="pro_price">
                            ¥ 249.00
                            <span class="pro_price-txt">¥ 224.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="recommend-text">
                <a href="">
                    <div class="recommend-text-img">
                        <img src="https://pic.midea.cn/ImageStore/171781/pic/cd2916677a521147A29526/cd2916677a521147A29526_430*430.jpg"
                            alt="">
                    </div>
                    <div class="recommend-text-box">
                        <p class="pro_ab">
                            <span class="recommend-pro">PRO精选</span>
                            【热泵干衣】10KG热泵干衣机 紫外线UV灯多重除菌 立体旋转烘干MH100-H1W
                        </p>
                        <p class="pro_price">
                            ¥ 4999.00
                            <span class="pro_price-txt">¥ 4749.00</span>
                            <span class="recommend-pro">PRO</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <!-- 专享服务 -->
        <div class="user-service">
            <p class="user-service-head">PRO专享 服务8.8折</p>
            <div class="user_recommend service-service-box">
                <div class="recommend-text">
                    <a href="">
                        <div class="recommend-text-img">
                            <img src="https://pic.midea.cn/ImageStore/151826/pic/c1bb8467dea40debA21896/c1bb8467dea40debA21896_430*430.jpg"
                                alt="">
                        </div>
                        <div class="recommend-text-box">
                            <p class="pro_ab">
                                <span class="recommend-pro">PRO精选</span>
                                电磁炉 匀火系列 时尚面板 送渗氮炒锅 高档法式汤锅 C21-WT2112T
                            </p>
                            <p class="pro_price">
                                ¥ 209.00
                                <span class="pro_price-txt">¥ 188.00</span>
                                <span class="recommend-pro">PRO</span>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="recommend-text">
                    <a href="">
                        <div class="recommend-text-img">
                            <img src="https://pic.midea.cn/ImageStore/151812/pic/8c6dbee02e0daa74A23431/8c6dbee02e0daa74A23431_430*430.jpg"
                                alt="">
                        </div>
                        <div class="recommend-text-box">
                            <p class="pro_ab">
                                <span class="recommend-pro">PRO精选</span>
                                电热饭盒 蒸汽加热 新鲜锁味 还原现做口感 MB-FB10M205
                            </p>
                            <p class="pro_price">
                                ¥ 139.00
                                <span class="pro_price-txt">¥ 125.00</span>
                                <span class="recommend-pro">PRO</span>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="recommend-text">
                    <a href="">
                        <div class="recommend-text-img">
                            <img src="https://pic.midea.cn/ImageStore/151817/pic/66d5d2ced10e164cA3105/66d5d2ced10e164cA3105_430*430.jpg"
                                alt="">
                        </div>
                        <div class="recommend-text-box">
                            <p class="pro_ab">
                                <span class="recommend-pro">PRO精选</span>
                                Wifi智能电饭煲 3升容量3-6人 IH加热 MB-WHS30C96
                            </p>
                            <p class="pro_price">
                                ¥ 299.00
                                <span class="pro_price-txt">¥ 269.00</span>
                                <span class="recommend-pro">PRO</span>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="recommend-text">
                    <a href="">
                        <div class="recommend-text-img">
                            <img src="https://pic.midea.cn/ImageStore/151811/pic/c5fa666611d3f9c0A23445/c5fa666611d3f9c0A23445_430*430.jpg"
                                alt="">
                        </div>
                        <div class="recommend-text-box">
                            <p class="pro_ab">
                                <span class="recommend-pro">PRO精选</span>
                                【下单送沥糖釜】低糖电饭煲 4L智能WiFi IH加热 钛金鼎釜 MB-HZ4005Pro
                            </p>
                            <p class="pro_price">
                                ¥ 1999.00
                                <span class="pro_price-txt">¥ 1799.00</span>
                                <span class="recommend-pro">PRO</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部会员弹框 -->
    <div class="navbar">
        <div class="navbar-dw">
            ¥169元开通美的PRO会员
            <a href=""></a>
        </div>
    </div>
    <!-- 省钱计算器 -->
    <div class="calculator_pop">
        <div class="calculator_pop-item">
            <p class="pop-item-p1">省钱计算器</p>
            <p class="pop-item-p2">根据去年美的商城用户数据计算</p>
            <ul class="pop-item-list">
                <li class="item-listSt">
                    <div class="item-listSt-p1">PRO会员价
                        <p class="item-listSt-p2">专享会员商品,多买多赚</p>
                        <span>408.00元</span>
                    </div>
                </li>
                <li class="item-listSt">
                    <div class="item-listSt-p1">每月专享价
                        <p class="item-listSt-p2">专每月1420元可用额度，领券立享优惠</p>
                        <span>370.00元</span>
                    </div>
                </li>
                <li class="item-listSt">
                    <div class="item-listSt-p1">30天保价
                        <p class="item-listSt-p2">支持成功支付30天内，买贵补差价</p>
                        <span>100.00元</span>
                    </div>
                </li>
                <li class="item-listSt">
                    <div class="item-listSt-p1">8.8折家电服务
                        <p class="item-listSt-p2">全场家电清洗服务</p>
                        <span>89.00元</span>
                    </div>
                </li>
                <li class="item-listSt">
                    <div class="item-listSt-p1">购物10倍积分
                        <p class="item-listSt-p2">商城购物10倍积分,多买多得</p>
                        <span>60.00元</span>
                    </div>
                </li>
                <li class="item-listSt">
                    <div class="item-listSt-p1">送一年延保
                        <p class="item-listSt-p2">支付成功15天内，免费送一年延保</p>
                        <span>105.00元</span>
                    </div>
                </li>
                <li class="item-listSt">
                    <div class="item-listSt-p1">kaoker黑卡会员
                        <p class="item-listSt-p2">同步尊享烘焙社群kaoker会员季卡</p>
                        <span>408.00元</span>
                    </div>
                </li>
                </li>
                <li class="item-listSt">
                    <div class="item-listSt-p1">全屋套购88折
                        <p class="item-listSt-p2">一次购买全屋家电，最低享88折</p>
                        <span>496.00元</span>
                    </div>
                </li>
                </li>
                <li class="item-listSt item-listSt2">
                    <div class="item-listSt-p1 item-listSt-p3">成为PRO年卡会员平均可省
                        <span>1677.00元</span>
                    </div>
                </li>
            </ul>
            <p class="pop-item-p4">确认</p>
            <span class="cha">×</span>
        </div>
    </div>
    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/rem.js"></script>
    <script>
        // 底部定位
        var nav = document.querySelector('.navbar')
        window.onscroll = function () {
            // 获取页面的偏移值
            var ymtop = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
            //判断页面的偏移值控制定位的隐藏与显示
            if (ymtop > 300) {
                nav.style.display = 'block';
            } else if (ymtop <= 400) {
                nav.style.display = 'none';
            }
        }

        // 点击事件
        $('.cl').on('click', function () {
            $('.calculator_pop').show()
            // $(document).bind('mousewheel', function (event, delta) {
            //     return false;
            // });
        })

        $('.cha').on('click', () => {
            $('.calculator_pop').hide()
        })
        $('.pop-item-p4').on('click', () => {
            $('.calculator_pop').hide()
        })
        //点击弹窗外任意地方弹窗消失
        $('.calculator_pop').on('click', function (e) {
            var e = e || window.event;
            var target = e.target;
            // console.log($('target').prop('className'))
            if (target.className === 'calculator_pop') {
                $(this).hide()
            }
        });
    </script>
</body>

</html>