<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/member_test.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1869604_e8dxbgibxal.css">
    <script src="/javascripts/rem.js"></script>
</head>
<header>
    <div class="title">
        <p class="empty"></p>
        <h1>评测试用</h1>
        <a class="require_use" href=""><span>我的试用<i class=" iconfont icon-gengduo2 "
                    style="font-size: 0.24rem;"></i></span></a>
    </div>
    <div class="phone">
        <div class="text_message">试用上新短信提醒&nbsp;<a href=""><img style="vertical-align: middle;"
                    src="https://pic.midea.cn/h5/img/new_trial/icon_help.svg" alt=""></a>
        </div>
        <div class="submit">
            <img src="https://pic.midea.cn/h5/img/new_trial/icon_subscribe_0.svg" alt="">
        </div>
    </div>
</header>
<section id="main">
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img class="main_pic"
                    src="https://pic.midea.cn/h5/pic/202008/5f407b60d7554.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_content">正在进行</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"> <img
                    src="https://pic.midea.cn/h5/pic/202008/5f30f3f49a189.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"> <img
                    src="https://pic.midea.cn/h5/pic/202007/5f226ae2397c7.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202007/5f100269e6619.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202006/5efab3ef86569.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202005/5ece178a63dad.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202005/5ec26e5aa76b5.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202004/5e85b79d63d5b.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202005/5eb366cee8679.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202004/5e93dfb6a0aed.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202004/5e85b79d63d5b.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div>
            <a href="" class="main_pic"><img
                    src="https://pic.midea.cn/h5/pic/202004/5e8417cfaa42a.jpg?x-oss-process=image/format,webp/quality,Q_90& "
                    alt=""></a>

        </div>
        <div class="list_foot">
            <div class="ing">
                <p class="ing_contents">申请结束</p>
            </div>
            <div class="text">
                <p class="number">名额&nbsp;:&nbsp;<span>0</span>位(<span>0</span>人已申请 )</p>
                <div class="button"><a href="">查看详细</a></div>
            </div>
        </div>
    </div>
    <div class="assess">
        <h3 class="assess_title">往期精彩测评</h3>
    </div>
    <div class="user_assess">
        <a class="assess_link" href="">
            <p class="title">美的萌潮一人食忠犬饭煲</p>
        <p class="assess_content">"很幸运得到美的萌潮一人食忠犬饭煲的试用。平时都是我和娃两个人在家，娃还小，
            每次做饭都是一点点，如果做多了就吃不完，用大电饭煲有点不合适，所以对小饭煲很喜欢。
            之前就看到了美的这款饭煲，造型就很吸引人，可"</p>
        <div class="assess_pic">
            <img src="http://pic.midea.cn/h5/pic/201912/a34bb008b4ab0fc3ae2d0c66cff94351.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201912/083c5eae3f2e4acee079d9ef41275f55.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201912/228e0d088e91d947f8616e1e4bcb89ef.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201912/c3576a65a05347e6ea9cf8764302467b.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
        </div>
        <div class="users">
            <p class="users_img">
                <img src="https://pic.midea.cn/h5/pic/userimg/573/9E62A3677B0E0BA863F799B83779CBEE.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt="">
                <span>yuan</span>
            </p>
            <p>2020-01-03</p>
        </div>
        </a>
        
    </div>
    <div class="user_assess">
        <a href="" class="assess_link">
            <p class="title">美的破壁机301</p>
        <p class="assess_content">好几年前给老家买了两台美的的空调，当时工作人员让我扫码加入了美的会员。前年新家装修毫不犹豫家电全部买的美的产品，大到空调、冰箱、洗衣机、热水器、油烟灶。小到电风扇和各种厨房小家电。对美的产品一直都挺信</p>
        <div class="assess_pic">
            <img src="http://pic.midea.cn/h5/pic/201904/7fffffffffffffff5cb3480a9a82764699.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201904/7fffffffffffffff5cb3480b20d2b99598.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201904/7fffffffffffffff5cb3480b9e2a035554.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201904/7fffffffffffffff5cb3499bf09a952942.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
        </div>
        <div class="users">
            <p class="users_img">
                <img src="https://pic.midea.cn/h5/pic/userimg/190/4AD126D5FEC15E2014CF07AEFD75D66E.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt="">
                <span>文文</span>
            </p>
            <p>2019-10-03</p>
        </div>
        </a>
        
    </div>
    <div class="user_assess">
        <a href="" class="assess_link">
            <p class="title">美的萌潮食忠犬饭煲</p>
        <p class="assess_content">美的蒸饭煲收到后颜值爆表，小巧玲珑，美美的。蒸饭、煮汤、煮粥、热饭、热菜等合为一体，一个人的福音;不管是给小孩煲汤还是给爱人送饭、煲汤，满满的都是爱哦，美美哒！！值得拥有。美的蒸饭煲，己使用一段时间了</p>
        <div class="assess_pic">
            <img src="http://pic.midea.cn/h5/pic/201912/8367a4f246146cad22b47568b009bc08.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201912/9fb0d10a8070f0c2fd06e5011141e2a0.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/201912/b6299b4041d2bafa28d4b8ee2c8158f7.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
            <img src="http://pic.midea.cn/h5/pic/202001/9715b76f09ebe71b09d212ef613a1dfd.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
        </div>
        <div class="users">
            <p class="users_img">
                <img src="https://filecmms.midea.com/ccrm-prod/userHeadImg/20181225/283673b5-9056-4568-8186-3c4c16c5c997.jpeg"
                    alt="">
                <span>Lixiaochun</span>
            </p>
            <p>2020-01-03</p>
        </div>
        </a>
        
    </div>
    <div class="add_more">
        <a href="">查看更多</a>
    </div>
</section>
<footer class="before_assess">
    <p class="title">往期试用</p>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201912/5df84c7285466.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的家用全自动煎牛排机</p>
            <div class="report">
                <div>
                    <p>参与人数:446</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201911/5dcd484c05a97.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">meidi萌潮一人食忠犬饭煲</p>
            <div class="report">
                <div>
                    <p>参与人数:410</p>
                    <p>测评报告:8</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201910/5da815ade81c8.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的油汀取暖器</p>
            <div class="report">
                <div>
                    <p>参与人数:110</p>
                    <p>测评报告:1</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201910/5da6d9cdae467.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的阿尔法净水器</p>
            <div class="report">
                <div>
                    <p>参与人数:235</p>
                    <p>测评报告:1</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201906/5d084e64ae47d.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的破壁机</p>
            <div class="report">
                <div>
                    <p>参与人数:278</p>
                    <p>测评报告:1</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cda89de3ed9d.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">滚筒洗衣机TG100</p>
            <div class="report">
                <div>
                    <p>参与人数:666</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cda826b987de.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">波轮洗衣机TBM100</p>
            <div class="report">
                <div>
                    <p>参与人数:446</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cd8d7be3e685.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">手持挂烫机F1</p>
            <div class="report">
                <div>
                    <p>参与人数:344</p>
                    <p>测评报告:4</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">燃气热水器GTS</p>
            <div class="report">
                <div>
                    <p>参与人数:381</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cd555a03fda5.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的母婴电饭煲</p>
            <div class="report">
                <div>
                    <p>参与人数:254</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201904/5cb8359a5d2c3.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">无线除螨仪B5D</p>
            <div class="report">
                <div>
                    <p>参与人数:446</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201903/5c98639b20277.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的电饭煲</p>
            <div class="report">
                <div>
                    <p>参与人数:605</p>
                    <p>测评报告:5</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201903/5c985bac44bc9.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的破壁机301</p>
            <div class="report">
                <div>
                    <p>参与人数:713</p>
                    <p>测评报告:5</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201903/5c90b6d9e5a60.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的高端燃气热水器</p>
            <div class="report">
                <div>
                    <p>参与人数:705</p>
                    <p>测评报告:6</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201902/5c6bfa7f56087.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的空气炸锅</p>
            <div class="report">
                <div>
                    <p>参与人数:50</p>
                    <p>测评报告:1</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cd8d7be3e685.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">手持挂烫机F1</p>
            <div class="report">
                <div>
                    <p>参与人数:344</p>
                    <p>测评报告:4</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">燃气热水器GTS</p>
            <div class="report">
                <div>
                    <p>参与人数:381</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cd555a03fda5.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的母婴电饭煲</p>
            <div class="report">
                <div>
                    <p>参与人数:254</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201904/5cb8359a5d2c3.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">无线除螨仪B5D</p>
            <div class="report">
                <div>
                    <p>参与人数:446</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201903/5c98639b20277.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的电饭煲</p>
            <div class="report">
                <div>
                    <p>参与人数:605</p>
                    <p>测评报告:5</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201903/5c985bac44bc9.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的破壁机301</p>
            <div class="report">
                <div>
                    <p>参与人数:713</p>
                    <p>测评报告:5</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201903/5c90b6d9e5a60.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的高端燃气热水器</p>
            <div class="report">
                <div>
                    <p>参与人数:705</p>
                    <p>测评报告:6</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201902/5c6bfa7f56087.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的空气炸锅</p>
            <div class="report">
                <div>
                    <p>参与人数:50</p>
                    <p>测评报告:1</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201910/5da6d9cdae467.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的阿尔法净水器</p>
            <div class="report">
                <div>
                    <p>参与人数:235</p>
                    <p>测评报告:1</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201906/5d084e64ae47d.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的破壁机</p>
            <div class="report">
                <div>
                    <p>参与人数:278</p>
                    <p>测评报告:1</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cda89de3ed9d.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">滚筒洗衣机TG100</p>
            <div class="report">
                <div>
                    <p>参与人数:666</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cda826b987de.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">波轮洗衣机TBM100</p>
            <div class="report">
                <div>
                    <p>参与人数:446</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cd8d7be3e685.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">手持挂烫机F1</p>
            <div class="report">
                <div>
                    <p>参与人数:344</p>
                    <p>测评报告:4</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">燃气热水器GTS</p>
            <div class="report">
                <div>
                    <p>参与人数:381</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
    <div class="before_assess_list">
        <div class="before_assess_pic">
            <img src="https://pic.midea.cn/h5/pic/201905/5cd555a03fda5.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="before_assess_content">
            <p class="introduction">美的母婴电饭煲</p>
            <div class="report">
                <div>
                    <p>参与人数:254</p>
                    <p>测评报告:2</p>
                </div>
                <a href="">
                    <div class="check">查看测评</div>

                </a>
            </div>
        </div>
    </div>
   
    

</footer>


</body>

</html>