<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>清凉一夏-空调卖场</title>
    <link rel="shortcut icon" href="/images/miao_favicon.ico">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/miao_promote_public.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.17.0/js/md5.js"></script>



    <script src="/javascripts/rem.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <link rel="stylesheet" href="/stylesheets/miao_promote02.css">

</head>

<body>
    <div class="floor">
        <div class="floor_bg" style="height:3.5rem">
            <img src="/images/miao_promote02_01.webp">
        </div>
        <div class="content"></div>
    </div>
    <div class="floor">
        <div class="floor_bg" style="height:6.96rem">
            <img src="/images/miao_promote02_02.gif">
        </div>
        <div class="content" id="con_one">
            <div class="widget_coupon link_a" id="link-01"></div>
            <div class="widget_coupon link_a" id="link-02"></div>
            <div class="widget_coupon link_a" id="link-03"></div>
            <div class="widget_coupon link_a" id="link-04"></div>
            <div class="widget_coupon link_a" id="link-05"></div>
            <div class="widget_coupon link_a" id="link-06"></div>
        </div>
    </div>
    <div class="floor">
        <div class="floor_bg" style="height:1.2rem">
            <img src="/images/miao_promote02_03.gif">
        </div>
        <div class="content"></div>
    </div>
    <div class="floor_wrap">
        <div class="goods_list">
            <div class="sale-tip">
                <p class="arrow-out"></p>
                <p class="arrow-inner"></p>
                <span>智弧</span>

            </div>
            <div class="product_main">
                <h3 class="main-title">新能效变频挂机 一键智控温</h3>
                <p class="sub-title">新三级能效/智能WIFI/升级自清洁/银离子抗菌滤网</p>
            </div>
            <div class="product-pic">
                <img src="/images/miao_promote02_goods01.webp" alt="">
            </div>
            <div class="product-col">
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥1804
                    </p>
                    <p class="col-cur-price">
                        大1P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">1899</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥1994
                    </p>
                    <p class="col-cur-price">
                        大1.5P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">2099</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="selling-point" style="background-color:#d15142">
            <span>领券下单更优惠</span>
        </div>
    </div>
    <div class="floor_wrap">
        <div class="goods_list">
            <div class="sale-tip">
                <p class="arrow-out"></p>
                <p class="arrow-inner"></p>
                <span>小鲸鲨</span>
            </div>
            <div class="product_main">
                <h3 class="main-title">三级变频 智能冷暖新能效空调</h3>
                <p class="sub-title">一键防直吹/ECO节能/智控温/WIFI智控</p>
            </div>
            <div class="product-pic">
                <img src="/images/miao_promote02_goods02.webp" alt="">
            </div>
            <div class="product-col">
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥1804
                    </p>
                    <p class="col-cur-price">
                        大1P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">1899</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥1994
                    </p>
                    <p class="col-cur-price">
                        大1.5P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">2099</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selling-point" style="background-color:#d15142">
            <span>领券下单更优惠</span>
        </div>
    </div>
    <div class="floor_wrap">
        <div class="goods_list">
            <div class="sale-tip">
                <p class="arrow-out"></p>
                <p class="arrow-inner"></p>
                <span>极酷</span>
            </div>
            <div class="product_main">
                <h3 class="main-title">一级变频 智能冷暖新能效空调</h3>
                <p class="sub-title">一键防直吹/ECO节能/智控温/WIFI智控</p>
            </div>
            <div class="product-pic">
                <img src="/images/miao_promote02_goods03.webp" alt="">
            </div>
            <div class="product-col">
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥2279
                    </p>
                    <p class="col-cur-price">
                        大1P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">2399</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥2469
                    </p>
                    <p class="col-cur-price">
                        大1.5P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">2599</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selling-point" style="background-color:#d15142">
            <span>领券下单更优惠</span>
        </div>
    </div>
    <div class="floor_wrap">
        <div class="goods_list">
            <div class="sale-tip">
                <p class="arrow-out"></p>
                <p class="arrow-inner"></p>
                <span>智行</span>
            </div>
            <div class="product_main">
                <h3 class="main-title">新能效变频柜机 一键智控温</h3>
                <p class="sub-title">新三级能效/智能WIFI/升级自清洁/银离子抗菌滤网</p>
            </div>
            <div class="product-pic">
                <img src="/images/miao_promote02_goods04.webp" alt="">
            </div>
            <div class="product-col">
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥3704
                    </p>
                    <p class="col-cur-price">
                        大1P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">3899</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥2469
                    </p>
                    <p class="col-cur-price">
                        大1.5P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">2599</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selling-point" style="background-color:#d15142">
            <span>领券下单更优惠</span>
        </div>
    </div>
    <div class="floor floor_long">
        <div class="floor_bg">
            <img src="/images/miao_promote02_04.gif" alt="">
        </div>
        <div class="content"></div>
    </div>
    <div class="floor_wrap">
        <div class="goods_list">
            <div class="sale-tip">
                <p class="arrow-out"></p>
                <p class="arrow-inner"></p>
                <span>i青春</span>
            </div>
            <div class="product_main">
                <h3 class="main-title">新能效 三级变频智能空调</h3>
                <p class="sub-title">银离子抗菌滤网/一键防直吹/ECO节能</p>
            </div>
            <div class="product-pic">
                <img src="/images/miao_promote02_goods05.webp" alt="">
            </div>
            <div class="product-col">
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥1804
                    </p>
                    <p class="col-cur-price">
                        大1P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">1899</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥1994
                    </p>
                    <p class="col-cur-price">
                        大1.5P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">2099</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selling-point" style="background-color:#d15142">
            <span>领券下单更优惠</span>
        </div>
    </div>
    <div class="floor_wrap">
        <div class="goods_list">
            <div class="sale-tip">
                <p class="arrow-out"></p>
                <p class="arrow-inner"></p>
                <span>风客</span>
            </div>
            <div class="product_main">
                <h3 class="main-title">新能效 三级变频智能方柜空调</h3>
                <p class="sub-title">银离子抗菌滤网/更大出风口/APP智控</p>
            </div>
            <div class="product-pic">
                <img src="/images/miao_promote02_goods06.webp" alt="">
            </div>
            <div class="product-col">
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥3609
                    </p>
                    <p class="col-cur-price">
                        大1P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">3799</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥4599
                    </p>
                    <p class="col-cur-price">
                        大1.5P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">4799</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selling-point" style="background-color:#d15142">
            <span>领券下单更优惠</span>
        </div>
    </div>
    <div class="floor_wrap">
        <div class="goods_list">
            <div class="sale-tip">
                <p class="arrow-out"></p>
                <p class="arrow-inner"></p>
                <span>智行</span>
            </div>
            <div class="product_main">
                <h3 class="main-title">新能效 一级变频智能柜机空调</h3>
                <p class="sub-title">升级自清洁/WIFI智控/一键智控温控</p>
            </div>
            <div class="product-pic">
                <img src="/images/miao_promote02_goods07.webp" alt="">
            </div>
            <div class="product-col">
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥4749
                    </p>
                    <p class="col-cur-price">
                        大1P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">4999</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
                <div class="col-item">
                    <p class="col-member-price">
                        <i class="price_icon"></i>
                        ¥5699
                    </p>
                    <p class="col-cur-price">
                        大1.5P活动价:
                        <i style="color:#f16e58">￥</i>
                        <em style="color:#f16e58">5999</em>
                    </p>
                    <div class="buy-btn">
                        <a href="javascript:;">立即购买</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selling-point" style="background-color:#d15142">
            <span>领券下单更优惠</span>
        </div>
    </div>

    <!-- 挂机空调专区 -->
    <div class="floor floor_long">
        <div class="floor_bg">
            <img src="/images/miao_promote02_05.gif" alt="">
        </div>
        <div class="content">
            <ul class="content_ul">
            </ul>
        </div>
    </div>
    <!-- 柜机空调专区 -->
    <div class="floor floor_long">
        <div class="floor_bg">
            <img src="/images/miao_promote02_06.gif" alt="">
        </div>
        <div class="content">
            <ul class="content_ul">

            </ul>
        </div>
    </div>
     <!-- 中央空调专区 -->
     <div class="floor floor_long">
        <div class="floor_bg">
            <img src="/images/miao_promote02_07.gif" alt="">
        </div>
        <div class="content">
            <ul class="content_ul">

            </ul>
        </div>
    </div>
     <!-- 空气能热水器专区 -->
     <div class="floor floor_long">
        <div class="floor_bg">
            <img src="/images/miao_promote02_08.gif" alt="">
        </div>
        <div class="content">
            <ul class="content_ul">

            </ul>
        </div>

    </div>
     <!-- 更多好货 -->
     <div class="floor floor_long">
        <div class="floor_bg">
            <img src="/images/miao_promote02_09.gif" alt="">
        </div>
        <div class="content">
            <ul class="content_ul">

            </ul>
        </div>
    </div>
    <div class="floor">
        <div class="floor_bg" style="height:6rem">
            <img src="/images/miao_promote02_more.gif">
        </div>
        <div class="content"></div>
    </div>











    <!-- 购物车  添加接口 -->
    <a class="cart_icon" href="javascript:;">
        <span id="cartNum"></span>
    </a>
    <!-- 领取优惠券弹框 -->
    <div class="phone_cover">
        <div class="phone_box">
            <span class="box_close"></span>
            <form action="" method="">
                <p>
                    <input type="text" placeholder="请输入手号" class="phoneNum" name="phone">
                </p>
                <p>
                    <input type="text" placeholder="请输入验证码" class="phoneNum ident_code">
                <div class="getCode">
                    <a href="javascript:;" class="code-btn">获取验证码</a>
                </div>

                </p>
                <input type="submit" class="massage_submit" value="确定">
            </form>
        </div>

    </div>

    <!-- 优惠券领取成功弹框 -->
    <div class="black_cover">
        <div class="open_tip_box">
            <div class="open_tip_icon"></div>
            <i class="sucess"></i>
            <h3>已领取过</h3>
            <p>
                您已领取过该优惠券了，领取次数已达上限
            </p>
            <div class="btn-box">
                <a href="javascript:;" class="tip_btn">知道了</a>
                <a href="javascript:;" class="tip_look">我的优惠券</a>
            </div>
        </div>
    </div>
    <script src="/javascripts/miao_promote_public.js"></script>
    <script src="/javascripts/miao_promote02.js"></script>

</body>

</html>