<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>会员秒杀</title>
  <link rel="shortcut icon" href="/images/miao_favicon.ico">
  <script src="/javascripts/rem.js"></script>
  <script src="/javascripts/swiper.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <link rel="stylesheet" href="/stylesheets/swiper.css">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/miao.css">

</head>

<body>
  <div id="app">
    <!-- 轮播实现 -->
    <div class="banner-wraper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="miao_promote01.html">
              <img src="/images/banner-wraper01.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="miao_promote02.html">
              <img src="/images/banner-wraper02.jpg" alt="">
            </a>
           
          </div>
          <div class="swiper-slide">
            <a href="miao_promote03.html">
              <img src="/images/banner-wraper03.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    
    <div class="tab-wraper">
      <div class="list-wraper">
        <ul>
          <li>
            <div class="time">10:00</div>
            <div class="status">已开抢</div>
          </li>
          <li class="">
            <div class="time active_time">12:00</div>
            <div class="status active_status">抢购中</div>
          </li>
          <li>
            <div class="time">18:00</div>
            <div class="status">即将开启</div>
          </li>
          <li>
            <div class="time">10:00</div>
            <div class="status">明日开抢</div>
          </li>
          <li>
            <div class="time">12:00</div>
            <div class="status">明日开抢</div>
          </li>
          <li>
            <div class="time">18:00</div>
            <div class="status">明日开抢</div>
          </li>
        </ul>
      </div>
    </div>



    <div class="goods-wraper">
      <div class="goods-item">
        <div class="goods-img">
          <a href="javascript:;">
            <img src="/images/goods-item01.jpg" alt="">
          </a>
        </div>
        <div class="goods-cont">
          <!-- 商品信息 -->
          <div class="cont-top">
            <h4 class="goods-name">洗衣液 雕牌阳光馨香洗衣液1KG</h4>
            <p class="reduce_price">
              <span class="price_icon">￥</span>
              <span class="price">9.9</span>
            </p>
            <p class="purchase_price">￥17.9</p>
          </div>
          <!-- 商品抢购 -->
          <div class="cont-bottom">
            <div class="progress">
              <div class="progress-bar">
                <div class="progress-percent"></div>
              </div>
              <p class="progress-text">已抢100%</p>
            </div>
            <div class="operate">
              <span class="operate-btn btn-first">已抢完</span>
            </div>
          </div>
        </div>
      </div>

      <div class="goods-item">
        <!-- 商品图片 -->
        <div class="goods-img">
          <a href="javascript:;">
            <img src="/images/goods-item02.jpg" alt="">
          </a>
        </div>
        <div class="goods-cont">
          <!-- 商品信息 -->
          <div class="cont-top">
            <h4 class="goods-name">【送美的音箱】小天鹅10KG洗衣机 99.9%健康除菌 静音变频 TG100VT096WDG</h4>
            <p class="reduce_price">
              <span class="price_icon">￥</span>
              <span class="price">1599</span>
            </p>
            <p class="purchase_price">￥3899</p>
          </div>
          <!-- 商品抢购 -->
          <div class="cont-bottom">
            <div class="progress">
              <div class="progress-bar">
                <div class="progress-percent"></div>
              </div>
              <p class="progress-text">已抢40%</p>
            </div>
            <div class="operate">
              <span class="operate-btn">去抢购</span>
            </div>
          </div>
        </div>
      </div>
    
      <div class="goods-item">
        <!-- 商品图片 -->
        <div class="goods-img">
          <a href="javascript:;">
            <img src="/images/goods-item02.jpg" alt="">
          </a>
        </div>
        <div class="goods-cont">
          <!-- 商品信息 -->
          <div class="cont-top">
            <h4 class="goods-name">【送美的音箱】小天鹅10KG洗衣机 99.9%健康除菌 静音变频 TG100VT096WDG</h4>
            <p class="reduce_price">
              <span class="price_icon">￥</span>
              <span class="price">1599</span>
            </p>
            <p class="purchase_price">￥3899</p>
          </div>
          <!-- 商品抢购 -->
          <div class="cont-bottom">
            <div class="progress">
              <div class="progress-bar">
                <div class="progress-percent"></div>
              </div>
              <p class="progress-text">已抢40%</p>
            </div>
            <div class="operate">
              <span class="operate-btn">去抢购</span>
            </div>
          </div>
        </div>
      </div>
      <div class="goods-item">
        <!-- 商品图片 -->
        <div class="goods-img">
          <a href="javascript:;">
            <img src="/images/goods-item02.jpg" alt="">
          </a>
        </div>
        <div class="goods-cont">
          <!-- 商品信息 -->
          <div class="cont-top">
            <h4 class="goods-name">【送美的音箱】小天鹅10KG洗衣机 99.9%健康除菌 静音变频 TG100VT096WDG</h4>
            <p class="reduce_price">
              <span class="price_icon">￥</span>
              <span class="price">1599</span>
            </p>
            <p class="purchase_price">￥3899</p>
          </div>
          <!-- 商品抢购 -->
          <div class="cont-bottom">
            <div class="progress">
              <div class="progress-bar">
                <div class="progress-percent"></div>
              </div>
              <p class="progress-text">已抢40%</p>
            </div>
            <div class="operate">
              <span class="operate-btn">去抢购</span>
            </div>
          </div>
        </div>
      </div>
      <div class="goods-item">
        <!-- 商品图片 -->
        <div class="goods-img">
          <a href="javascript:;">
            <img src="/images/goods-item02.jpg" alt="">
          </a>
        </div>
        <div class="goods-cont">
          <!-- 商品信息 -->
          <div class="cont-top">
            <h4 class="goods-name">【送美的音箱】小天鹅10KG洗衣机 99.9%健康除菌 静音变频 TG100VT096WDG</h4>
            <p class="reduce_price">
              <span class="price_icon">￥</span>
              <span class="price">1599</span>
            </p>
            <p class="purchase_price">￥3899</p>
          </div>
          <!-- 商品抢购 -->
          <div class="cont-bottom">
            <div class="progress">
              <div class="progress-bar">
                <div class="progress-percent"></div>
              </div>
              <p class="progress-text">已抢40%</p>
            </div>
            <div class="operate">
              <span class="operate-btn">去抢购</span>
            </div>
          </div>
        </div>
      </div>
    
    
    
    
    
    
    
    
    
    
    </div>
  </div>







  <script src="/javascripts/miao.js"></script>
</body>

</html>