<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/MoreInterests.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2021333_zw9e5sdx4jo.css">
</head>

<body>
    <div class="box">
        <ul class="box_list">
            <li class="box_list-ststus ststus-active">
                <i class="iconfont icon-qiandai active"></i>
                <p>PRO价</p>
            </li>
            <li class="box_list-ststus">
                <i class="iconfont icon-youhuiquan"></i>
                <p>1420元/月</p>
            </li>
            <li class="box_list-ststus">
                <i class="iconfont icon-jifen"></i>
                <p>10倍积分</p>
            </li>
            <li class="box_list-ststus">
                <i class="iconfont icon-icon-test"></i>
                <p>30天保价</p>
            </li>
            <li class="box_list-ststus">
                <i class="iconfont icon-vip"></i>
                <p>kaoker</p>
            </li>
            <li class="box_list-ststus">
                <i class="iconfont icon-comiisbiaoqian"></i>
                <p>全屋套购</p>
            </li>
            <li class="box_list-ststus">
                <i class="iconfont icon-yanchi"></i>
                <p>免费延保</p>
            </li>
        </ul>
        <div class="content_wrap">
            <div class="content_wrap-text b">
                <p class="content_wrap-p1">PRO会员专享价
                    <a href="">
                        Q&A
                        <i class="iconfont icon-question"></i>
                    </a>
                    <span class="content_wrap-p1p"></span>
                </p>
                <img src="https://pic.midea.cn/h5/img/pro/right_pro_price.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                <a href="" class="content_wrap-texta">
                    去购物
                </a>
                <p class="detail">
                    <span>1</span>
                    权益介绍
                </p>
                <p class="desc">
                    1.开通PRO会员，即可享受美的官网商城商品会员价，以更低的价格购买商品。
                    <a href="">立即前往购买</a>
                </p>
                <p class="desc">
                    3.凡带有PRO标识
                    <span>PRO</span>
                    的商品，PRO会员均可享受
                </p>
                <p class="detail">
                    <span>2</span>
                    用户服务
                </p>
                <p class="desc">PRO会员专享</p>
                <p class="detail">
                    <span>3</span>
                    使用指南
                </p>
                <p class="desc">1.POR专享价商品</p>
                <p class="desc">
                    凡购买PRO
                    <span>PRO</span>
                    标识的商品，即可享受PRO会员专享价，只可购买页面展示的单品，换色换号不享受PRO专享价。
                </p>
                <p class="desc">2.PRO专享价不与全屋套购优惠叠加。</p>
                <p class="desc">3.活动结束后，页面商品不再享受PRO会员专享优惠。</p>
                <p class="desc">美的PRO会员在天猫会员、京东会员和美的到家线下渠道等陆续开通，敬请期待。</p>
            </div>
            <div class="content_wrap-text  content_wrap-text2">
                <p class="content_wrap-p1">每月大额品类券
                    <a href="">
                        Q&A
                        <i class="iconfont icon-question"></i>
                    </a>
                    <span class="content_wrap-p1p"></span>
                </p>
                <img src="https://pic.midea.cn/h5/img/pro/right_pro_coupon_v4.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                <a href="" class="content_wrap-texta">
                    去领券
                </a>
            </div>
            <div class="content_wrap-text">
                <p class="content_wrap-p1">10倍积分
                    <a href="">
                        Q&A
                        <i class="iconfont icon-question"></i>
                    </a>
                    <span class="content_wrap-p1p"></span>
                </p>
                <img src="https://pic.midea.cn/h5/pic/201904/5cc18342ea1f8.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                <a href="" class="content_wrap-texta">
                    查看我的积分
                </a>
            </div>
            <div class="content_wrap-text">
                <p class="content_wrap-p1">30天保价
                    <a href="">
                        Q&A
                        <i class="iconfont icon-question"></i>
                    </a>
                    <span class="content_wrap-p1p"></span>
                </p>
                <img src="https://pic.midea.cn/h5/img/pro/right_pro_protect.png?x-oss-process=image/format,webp/quality,Q_90&t=20191024" alt="">
                <a href="" class="content_wrap-texta">
                    30天保价
                </a>
            </div>
            <div class="content_wrap-text">
                <p class="content_wrap-p1">30天保价
                    <a href="">
                        Q&A
                        <i class="iconfont icon-question"></i>
                    </a>
                    <span class="content_wrap-p1p"></span>
                </p>
                <img src="https://pic.midea.cn/h5/img/pro/right_pro_kaoker.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                <a href="" class="content_wrap-texta">
                    30天保价
                </a>
            </div>
            <div class="content_wrap-text">
                <p class="content_wrap-p1">全屋套购88折
                    <a href="">
                        Q&A
                        <i class="iconfont icon-question"></i>
                    </a>
                    <span class="content_wrap-p1p"></span>
                </p>
                <img src="https://pic.midea.cn/h5/img/pro/right_pro_suit.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                <a href="" class="content_wrap-texta">
                    全屋套购
                </a>
            </div>
            <div class="content_wrap-text">
                <p class="content_wrap-p1">免费延保 服务8.8折
                    <a href="">
                        Q&A
                        <i class="iconfont icon-question"></i>
                    </a>
                    <span class="content_wrap-p1p"></span>
                </p>
                <img src="https://pic.midea.cn/h5/img/pro/right_pro_service.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                <a href="" class="content_wrap-texta">
                    立即延保
                </a>
            </div>
        </div>
    </div>
    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/rem.js"></script>
    <script>

        // tab切换
        $('.box_list-ststus').on('click', function () {
            // 控制字体图标
            $(this).children('i').addClass('active').parent().siblings().children('i').removeClass('active')

            //控制横线
            $(this).addClass('ststus-active').siblings('.ststus-active').removeClass('ststus-active')

            //控制下边的
            $('.content_wrap-text').eq($(this).index()).addClass('b').siblings('.b').removeClass('b')
        })
    </script>
</body>

</html>