<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/my_privilege.css">
  <script src="/javascripts/rem.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="title">权益列表</div>
    <div class="title_bg"></div>
    <ul class="privilege_list">
      <li>您暂未获取特权，快去解锁更多勋章吧！</li>
    </ul>
  </div>
</body>
</html>