<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>
<body>
    <script src="/javascripts/jquery.js"></script>
    <div class="floor">
        <div class="floor_bg" style="height:.12rem;">
            <img src="https://pic.midea.cn/h5/pic/202007/edf438b66143.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="floor_content"></div>
    </div>
    <div class="floor floor_wrap_bg floor_E">
        <div class="floor_content cont">
            <div class="user_info_box">
                <div class="user_bg">
                    <img src="https://pic.mdcdn.cn/h5/img/promote/user_bg_common.png" alt="" >
                </div>
                <div class="info_box_inner">
                    <div class="user_info">
                        <img src="https://filecmms.midea.com/ccrm-prod/userHeadImg/defaultHeadImg.png" alt="" class="full" >
                        <div class="nick_name">2258</div>
                        <div class="user_level_img">
                            <img src="//pic.mdcdn.cn/h5/img/promote/user_level_common.png" alt="">
                        </div>
                        <div class="score_box">
                            <span class="score_tag">积分:</span>
                            <span class="score_val">20</span>
                        </div>
                        <div class="vip_right_desc">
                            <span class="right_desc_val">undefined</span>
                        </div>
                        <div class="go_to_signing">
                            <!-- 签到任务中心 -->
                            <a href="javascript:;">
                                <span>去签到</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floor floor_E">
        <div class="floor_bg">
            <img src="//pic.midea.cn/h5/pic/202007/9ed1236625f6.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
            <div class="floor_content"></div>
        </div>
    </div>
    <div class="floor floor_E">
        <img src="https://pic.midea.cn/h5/pic/202007/ac575ba21ad4.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <div class="floor_content"></div>
    </div>
    <div class="floor floor_E">
        <div class=" conts">
            <div class="project_major_inner">
                <div class="product_major_col1">
                    <div class="product_major_col_header">
                        <p class="product_major_main_title">
                            三级变频 智能冷暖新能效空调
                        </p>
                        <p class="product_major_sub_title">
                            一键防直吹/ECO节能/智控温/WIFI智控
                        </p>
                    </div>
                    <div class="product_major_col_item">
                        <p class="product_major_pro_price">
                            ￥1994
                            <span class="pro"></span>
                        </p>
                        <p class="product_major_cur_price">
                            大1.5P活动价:
                            <i style="color: #e43d3f;">￥</i>
                            <em>2599</em>
                        </p>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </div>
                <div class="product_major_col2">
                    <div class="sale_tips">
                        <i class="arrow" style="border-color: #ee8a34;">
                            <i class="arrow_out"></i>
                            <i class="arrow_inner"></i>
                        </i>
                        <span>小鲸鲨</span>
                    </div>
                    <div class="product_major_pic">
                        <img src="//pic.mdcdn.cn/h5/pic/202007/5f217753be45e.jpg" alt="">
                    </div>
                </div>
                <div class="selling_print">
                    <span>领券下单更优惠 限量送小美音箱</span>
                </div>
            </div>
            <div class="project_major_inner">
                <div class="product_major_col1">
                    <div class="product_major_col_header">
                        <p class="product_major_main_title">
                            三级变频 智能冷暖新能效空调
                        </p>
                        <p class="product_major_sub_title">
                            一键防直吹/ECO节能/智控温/WIFI智控
                        </p>
                    </div>
                    <div class="product_major_col_item">
                        <p class="product_major_pro_price">
                            ￥1994
                            <span class="pro"></span>
                        </p>
                        <p class="product_major_cur_price">
                            大1.5P活动价:
                            <i style="color: #e43d3f;">￥</i>
                            <em>2599</em>
                        </p>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </div>
                <div class="product_major_col2">
                    <div class="sale_tips">
                        <i class="arrow" style="border-color: #ee8a34;">
                            <i class="arrow_out"></i>
                            <i class="arrow_inner"></i>
                        </i>
                        <span>小鲸鲨</span>
                    </div>
                    <div class="product_major_pic">
                        <img src="//pic.mdcdn.cn/h5/pic/202007/5f217753be45e.jpg" alt="">
                    </div>
                </div>
                <div class="selling_print">
                    <span>领券下单更优惠 限量送小美音箱</span>
                </div>
            </div>
            <div class="project_major_inner">
                <div class="product_major_col1">
                    <div class="product_major_col_header">
                        <p class="product_major_main_title">
                            三级变频 智能冷暖新能效空调
                        </p>
                        <p class="product_major_sub_title">
                            一键防直吹/ECO节能/智控温/WIFI智控
                        </p>
                    </div>
                    <div class="product_major_col_item">
                        <p class="product_major_pro_price">
                            ￥1994
                            <span class="pro"></span>
                        </p>
                        <p class="product_major_cur_price">
                            大1.5P活动价:
                            <i style="color: #e43d3f;">￥</i>
                            <em>2599</em>
                        </p>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </div>
                <div class="product_major_col2">
                    <div class="sale_tips">
                        <i class="arrow" style="border-color: #ee8a34;">
                            <i class="arrow_out"></i>
                            <i class="arrow_inner"></i>
                        </i>
                        <span>小鲸鲨</span>
                    </div>
                    <div class="product_major_pic">
                        <img src="//pic.mdcdn.cn/h5/pic/202007/5f217753be45e.jpg" alt="">
                    </div>
                </div>
                <div class="selling_print">
                    <span>领券下单更优惠 限量送小美音箱</span>
                </div>
            </div>
            <div class="project_major_inner">
                <div class="product_major_col1">
                    <div class="product_major_col_header">
                        <p class="product_major_main_title">
                            三级变频 智能冷暖新能效空调
                        </p>
                        <p class="product_major_sub_title">
                            一键防直吹/ECO节能/智控温/WIFI智控
                        </p>
                    </div>
                    <div class="product_major_col_item">
                        <p class="product_major_pro_price">
                            ￥1994
                            <span class="pro"></span>
                        </p>
                        <p class="product_major_cur_price">
                            大1.5P活动价:
                            <i style="color: #e43d3f;">￥</i>
                            <em>2599</em>
                        </p>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </div>
                <div class="product_major_col2">
                    <div class="sale_tips">
                        <i class="arrow" style="border-color: #ee8a34;">
                            <i class="arrow_out"></i>
                            <i class="arrow_inner"></i>
                        </i>
                        <span>小鲸鲨</span>
                    </div>
                    <div class="product_major_pic">
                        <img src="//pic.mdcdn.cn/h5/pic/202007/5f217753be45e.jpg" alt="">
                    </div>
                </div>
                <div class="selling_print">
                    <span>领券下单更优惠 限量送小美音箱</span>
                </div>
            </div>
        </div>
    </div>
    <div class="floor floor_E">
        <img src="https://pic.midea.cn/h5/pic/202007/214e433fb30e.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <div class="floor_content"></div>
    </div>
    <div class="floor floor_E">
        <div class="floor_bg">
            <img src="https://pic.midea.cn/h5/pic/202007/b74bdc4fa374.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
    </div>
    <div class="floor floor_E">
        <div class="floor_bg">
            <img src="https://pic.midea.cn/h5/pic/202007/096bfcc254bd.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
    </div>
    <div class="floor floor_E">
        <div class="floor_bg">
            <img src="https://pic.midea.cn/h5/pic/202008/03a82d7b9f3c.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
    </div>
    <div class="floor floor_E">
        <div class="floor_bg">
            <img src="https://pic.midea.cn/h5/pic/202007/e60062f9996f.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
    </div>
    <div class="floor floor_E">
        <div class="floor_contents">
            <ul class="product_major_list2">
                <li class="product_major_item">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft">
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>199</em>
                        </span>
                        <del>
                            <i>￥</i>
                            <em>199</em>
                        </del>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">
                                立即购买
                            </a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item asc">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft ascr">
                        <p class="product_major_pro_price">
                            ￥1234
                            <i class="pro_price_ico"></i>
                        </p>
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>1299</em>
                        </span>
                        <div class="product_major_buy_price">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft">
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>199</em>
                        </span>
                        <del>
                            <i>￥</i>
                            <em>199</em>
                        </del>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">
                                立即购买
                            </a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item asc">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft ascr">
                        <p class="product_major_pro_price">
                            ￥1234
                            <i class="pro_price_ico"></i>
                        </p>
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>1299</em>
                        </span>
                        <div class="product_major_buy_price">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft">
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>199</em>
                        </span>
                        <del>
                            <i>￥</i>
                            <em>199</em>
                        </del>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">
                                立即购买
                            </a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item asc">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft ascr">
                        <p class="product_major_pro_price">
                            ￥1234
                            <i class="pro_price_ico"></i>
                        </p>
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>1299</em>
                        </span>
                        <div class="product_major_buy_price">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item asc">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft ascr">
                        <p class="product_major_pro_price">
                            ￥1234
                            <i class="pro_price_ico"></i>
                        </p>
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>1299</em>
                        </span>
                        <div class="product_major_buy_price">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft">
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>199</em>
                        </span>
                        <del>
                            <i>￥</i>
                            <em>199</em>
                        </del>
                        <div class="product_major_buy_btn">
                            <a href="javascript:;">
                                立即购买
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    
    <div class="floor floor_E">
        <div class="floor_bg">
            <img src="https://pic.midea.cn/h5/pic/202007/619fce5f63de.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
    </div>
    <div class="floor floor_E">
        <div class="floor_contents">
            <ul class="product_major_list2">
                <li class="product_major_item">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/193714/pic/f0bf4cfa4dcec2aaA18887/f0bf4cfa4dcec2aaA18887_310*310.jpg" alt="">
                            <span class="mc_icon">
                                <span class="mc_icon_top">直降</span>
                                <span class="mc_icon_button">1600</span>
                            </span>
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                华凌电热水器 20L 变频速热  立体外观 一键调温 WIFI智控 炫彩界面 DSF20-70PO1
                            </a>
                        </p>
                    </div>
                    <div class="mc_product_item_price">
                        <span class="mc_current_price">
                            <span class="mc_des">
                                活动价
                                <i>￥</i>
                            </span>
                            <em class="mc_c_price">1999</em>
                        </span>
                        <div class="mc_btn_area">
                            <a href="javascript:;">
                                <span class="mc_des">
                                    立即购买
                                    <i class="mc_icon_arrow"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="product_major_item asc">
                    <div class="product_major_list2_header">
                        <a href="javascript:;">
                            <img src="https://pic.midea.cn/ImageStore/203113/pic/10fd3caea4786628A5315/10fd3caea4786628A5315_430*430.png" alt="">
                        </a>
                    </div>
                    <div class="product_major_list2_title">
                        <p class="product_major_list2_maintitle">
                            <a href="javascript:;">
                                【华凌】即热龙头 智能数显 省时省电省水 温度智控 DSK30HP3-X
                            </a>
                        </p>
                    </div>
                    <div class="product_major_list2_ft ascr">
                        <p class="product_major_pro_price">
                            ￥1234
                            <i class="pro_price_ico"></i>
                        </p>
                        <span class="product_major_cur_price">
                            <i>￥</i>
                            <em>1299</em>
                        </span>
                        <div class="product_major_buy_price">
                            <a href="javascript:;">立即购买</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="/javascripts/rem.js"></script>
</body>
</html>