<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/ProVip.css">
</head>
<body>
    <div class="head">
      <img src="https://pic.midea.cn/h5/pic/202007/e4d71ec2d422.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center">
        <div class="center_img">
            <img src="https://pic.midea.cn/h5/pic/202007/fe95639c6a82.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="center_tz1">
            <a href=""></a>
        </div>
    </div>
    <div class="center2">
        <img src="https://pic.midea.cn/h5/pic/202007/edd0c74d77a6.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center3">
       <div class="center3_img">
           <img src="https://pic.midea.cn/h5/pic/202007/92fdb5d20ca6.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
       </div>
       <a href=""></a>
    </div>
    <div class="center3">
        <div class="center3_img">
            <img src="https://pic.midea.cn/h5/pic/202007/e93e9b05ac1e.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <a href=""></a>
    </div> 
    <div class="center3">
        <div class="center_img">
            <img src="https://pic.midea.cn/h5/pic/202007/5049431be81d.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <a href=""></a>
    </div>
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202007/1cbbb601b74c.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center5">
        <img src="https://pic.midea.cn/h5/pic/202008/34f29079a20b.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <a href=""></a>
    </div>
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202008/796336578356.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center6">
        <img src="https://pic.midea.cn/h5/pic/202008/2c7664936a96.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <a href=""></a>
    </div>
    <div class="center7">
        <img src="https://pic.midea.cn/h5/pic/202008/3590013dc170.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <a href=""></a>
    </div>
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202007/c275d9f31158.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center_text">
        <ul class="">
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/112039/pic/604e8e099830114dA1423/604e8e099830114dA1423_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【高性价比】电饭煲 5升适用4-10人 拉丝金属机身 智能机身 一键柴火饭 MB-WRD5031A</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">189</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>立即购买</span>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/112039/pic/604e8e099830114dA1423/604e8e099830114dA1423_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【高性价比】电饭煲 5升适用4-10人 拉丝金属机身 智能机身 一键柴火饭 MB-WRD5031A</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">189</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>立即购买</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/rem.js"></script>
</body>
</html>