<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRO会员精选专区</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/ProVip.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2021333_u7isavljg8p.css">
</head>
<body>
    <div class="head">
      <img src="https://pic.midea.cn/h5/pic/202007/e4d71ec2d422.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center">
        <div class="center_img">
            <img src="https://pic.midea.cn/h5/pic/202007/fe95639c6a82.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="center_tz1">
            <a href="http://localhost:3000/users/ProVip/memberCenter"></a>
        </div>
    </div>
    <div class="center2">
        <img src="https://pic.midea.cn/h5/pic/202007/edd0c74d77a6.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center3">
       <div class="center3_img">
           <img src="https://pic.midea.cn/h5/pic/202007/92fdb5d20ca6.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
       </div>
       <a href=""></a>
    </div>
    <div class="center3">
        <div class="center3_img">
            <img src="https://pic.midea.cn/h5/pic/202007/e93e9b05ac1e.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <a href=""></a>
    </div> 
    <div class="center3">
        <div class="center_img">
            <img src="https://pic.midea.cn/h5/pic/202007/5049431be81d.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <a href=""></a>
    </div>
    <!-- 活动专区 -->
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202007/1cbbb601b74c.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center5">
        <img src="https://pic.midea.cn/h5/pic/202008/34f29079a20b.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <a href=""></a>
    </div>
    <!-- 520大礼包 -->
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202008/796336578356.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center6">
        <img src="https://pic.midea.cn/h5/pic/202008/2c7664936a96.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <a href=""></a>
    </div>
    <div class="center7">
        <img src="https://pic.midea.cn/h5/pic/202008/3590013dc170.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <a href=""></a>
    </div>
    <!-- 购物享特权 -->
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202007/c275d9f31158.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="center_text">
        <ul class="">
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/112039/pic/604e8e099830114dA1423/604e8e099830114dA1423_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【高性价比】电饭煲 5升适用4-10人 拉丝金属机身 智能机身 一键柴火饭 MB-WRD5031A</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">189</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>70</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/112917/pic/96fd607e8a58cf9eA31157/96fd607e8a58cf9eA31157_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【送智能音箱】629L对开门智控冰箱 温控变频 风冷无霜BCD-629WKPZM(E)</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">3299</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1200</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/167023/pic/23cdb0a6fa45ed8fA17351/23cdb0a6fa45ed8fA17351_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【送美妆冰箱】446L十字智能净味冰箱 风冷无霜 一级能效BCD-446WTPZM(E)</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">4999</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>500</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/161720/pic/9e8a316e9a417065A24532/9e8a316e9a417065A24532_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【大眼鲜萌】230L三门冰箱大眼萌无霜节能变频 WIFI智能BCD-230WTPZM(E)</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">1999</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>700</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/164740/pic/d7d75711809d4780A13835/d7d75711809d4780A13835_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【送美妆冰箱】508L多门净味冰箱 温湿精控 WIFI操控BCD-508WTPZM(E)</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">5799</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1200</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/171088/pic/14b5df8181ed0989A25250/14b5df8181ed0989A25250_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【送智能音箱】10KG洗烘一体洗衣机  BLDC变频 祛味空气洗 MD100V11D</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">1999</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1000</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/169640/pic/502f4fa884d8d930A21611/502f4fa884d8d930A21611_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【送智能音箱】10KG洗烘一体机 静音变频 智能WIFI 真丝柔洗MD100VT717WDY5</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">3999</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1000</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/171089/pic/8d742d96ba0113f7A1700/8d742d96ba0113f7A1700_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【送智能音箱】10KG滚筒洗衣机 热销爆款  高温筒自洁 食用级巴氏除菌洗  MG100V11D</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">1599</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1100</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/169641/pic/863c35dd7d8bd6dfA11842/863c35dd7d8bd6dfA11842_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【送智能音箱】10KG滚筒洗衣机 WIFI智能  直驱电机MG100V70WD5</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">3299</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1700</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/182063/pic/24efedd0b7133263A2630/24efedd0b7133263A2630_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">电风扇 7片劲风 智能感温 风大音轻 落地扇SAD35EA</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">199</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>40</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/175635/pic/b11fca0b2166d826A30242/b11fca0b2166d826A30242_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【时尚新品】燃气热水器 16升 全屋零冷水 智能WiFi JSQ30-Y9</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">2799</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1200</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/189638/pic/c8eb3c7f102d27e3A25577/c8eb3c7f102d27e3A25577_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【极速加热】电热水器 60L 智能杀菌 一键速洗 WIFI预约 F6030-TG6</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">1499</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>1000</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/173180/pic/00304391f5938137A3367/00304391f5938137A3367_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">空气炸锅 1.8L精致复古 脱脂无油炸 旋钮简单易用 多功能零食MF-KZ15E201</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">239</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>160</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/172562/pic/7962b2986edfac89A10694/7962b2986edfac89A10694_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">煎烤机 精致复古 可拆洗烤盘 易用把手 双面悬浮加热 JK30P202</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">189</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>189</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/156966/pic/891c5e76142a925cA28842/891c5e76142a925cA28842_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">豆浆机 多氧生磨 时间温度双预约  DJ13B-Power301</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">269</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>230</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/157960/pic/6c8ddcec8dee7b3fA32201/6c8ddcec8dee7b3fA32201_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【micca颜值派】炒锅 备长炭不粘 少油烟 耐高温 28CM轻巧锅身 MP_CJ28Wok305</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">199</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>100</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/158194/pic/741cd633ebb425acA7791/741cd633ebb425acA7791_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">随行杯 按压启动 精钢四叶刀头 随榨随带 配随行杯 MJ-LZ20Easy101</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">69</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>60</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/197956/pic/905c167c576b9c7dA23590/905c167c576b9c7dA23590_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【9.9元换购小煮锅】美的 布谷(BUGU) 紫外线消毒杀菌收纳刀架BG-DU3</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">199</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>100</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/161492/pic/b41f7342457e0055A27439/b41f7342457e0055A27439_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">净化加湿冷风扇 家用节能 遥控制冷 易拆洗 塔式静音冷风机 AAC12AR 白色</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">549</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>150</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/163895/pic/7efc56fb5a6dd556A18938/7efc56fb5a6dd556A18938_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【高端智能】吸油烟机 21m³爆炒 一键清洗 免挥手 低噪音 CXW-260-J59P</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">2399</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>2700</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/195140/pic/427de8a9669b776dA20381/427de8a9669b776dA20381_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【vie7独嵌两用】华凌洗碗机 8套 热风烘干 二星消毒 智能测污洗 WQP8-W3909E-CN</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">3999</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/152556/pic/577373d7bd5a4dc5A4490/577373d7bd5a4dc5A4490_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【钜惠】大1匹智能冷暖家用空调挂机 KFR-26GW/WCBN8A3@</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">1804</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/158920/pic/9f01c99a5832727fA3934/9f01c99a5832727fA3934_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【智能款】花生净水机 400G 双芯5级净滤 母婴直饮 MRO1791D-400G</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">1998</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/170410/pic/bf004000e6b95b86A11079/bf004000e6b95b86A11079_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">美的省电星 大1匹空调冷暖定频挂机家用壁挂式 KFR-26GW/DN8Y-DH400(D3)</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">2099</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/152554/pic/057b574d8f3a7dc9A28852/057b574d8f3a7dc9A28852_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【钜惠】大1.5匹智能冷暖家用空调挂机 KFR-35GW/WCBN8A3@</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">1994</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/199000/pic/d1a1db861bd464efA5062/d1a1db861bd464efA5062_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">美的 布谷（BUGU）眼部热敷按摩仪器 BG-EM1</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">499</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- 积分专属兑换 -->
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202007/ec9fa5d5149d.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="integral_text">
        <div class="integral_text-img">
            <img src="https://pic.midea.cn/h5/pic/202007/aba222286629.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <a href=""></a>
    </div>
    <!-- 清洗服务 -->
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202007/92bceba482b9.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="cleaning center_text">
        <ul>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151812/pic/8c6dbee02e0daa74A23431/8c6dbee02e0daa74A23431_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 空调挂机深度清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">94</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>5</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151817/pic/66d5d2ced10e164cA3105/66d5d2ced10e164cA3105_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 热水器（免拆）清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">94</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>5</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151811/pic/c5fa666611d3f9c0A23445/c5fa666611d3f9c0A23445_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 油烟机深度清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">179</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>20</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151824/pic/7f05fc64c6b21811A21896/7f05fc64c6b21811A21896_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 滚筒洗衣机（免拆）清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">89</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>10</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151814/pic/9e2f8e5b1360efe1A23425/9e2f8e5b1360efe1A23425_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 波轮洗衣机（半拆洗）深度清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">109</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>10</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151813/pic/9a4c900d0c352c9dA13506/9a4c900d0c352c9dA13506_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 空调柜机深度清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">139</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>10</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list1">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151825/pic/019ec66af1e03261A7754/019ec66af1e03261A7754_310*310.jpg" alt="">
                    </a>
                </div>
                <p class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 三门冰箱深度清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">139</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>30</span>
                        </p>
                    </a>
                </div>
            </li>
            <li class="center_text-list center_text-list2">
                <div class="center_text-head">
                    <a href="">
                        <img src="https://pic.midea.cn/ImageStore/151826/pic/c1bb8467dea40debA21896/c1bb8467dea40debA21896_310*310.jpg" alt="">
                    </a>
                </div>
                <p  class="center_text-p1">
                    <a href="">【不限品牌】清洗服务 对开门冰箱深度清洗上门服务</a>
                </p>
                <div class="center_text-div1">
                    <a href="">
                        <span>活动价￥</span>
                        <span class="center_text-div1-span2">169</span>
                    </a>
                </div>
                <div class="center_text-div2">
                    <a href="">
                        <span>
                            立即购买
                            <i class="iconfont icon-youjiantou itb"></i>
                        </span>
                    </a>
                </div>
                <div class="mc_icon_tag">
                    <a href="">
                        <p class="mc_icon_tag-txt">
                            <span>直降</span>
                            <span>30</span>
                        </p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- 更多权益 -->
    <div class="center4">
        <img src="https://pic.midea.cn/h5/pic/202007/b25bbffa0373.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
    </div>
    <div class="MoreService">
        <div class="MoreService-img">
            <img src="https://pic.midea.cn/h5/pic/202007/a0835085763b.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <a href=""></a>
    </div>
    <!-- 更多活动 -->
    <div class="footer">
        <div class="footer-img">
            <img src="https://pic.midea.cn/h5/pic/202007/793d8fedf33f.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        </div>
        <div class="footer-text">
            <div class="footer-text-le">
                <a href="">

                </a>
            </div>
            <div class="footer-text-rg">
                <a href="">

                </a>
            </div>
        </div>
    </div>
    <div class="ToTop">
        <img src="https://pic.midea.cn/h5/pic/202007/43a3fd5dd55f.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
        <a href=""></a>
    </div>
    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/rem.js"></script>
</body>
</html>