
    <div class="header">
        <div class="backPage">
            <i class="iconfont icon-iconfontfanhui text" ></i>
        </div>
        <div class="title">
            <h1>我的优惠卷</h1>
        </div>
        <div class="useExplain">
            <a href="" style="color: #0093D5;">使用说明</a>
        </div>
     </div>
     <div class="used" >
         <div class="conpon-use active"><a class="ing" href="">未使用</a></div>
         <div class="conpon-use"><a class="ing" href="http://locolhost:3000/users/conpons_two">即将过期</a></div>
         <div class="conpon-use"><a class="ing" href="">已使用</a></div>
         <div class="conpon-use"><a class="ing" href="">已过期</a></div>
     </div>
     <div class="number">
         <p class="content"> <a class="addColor" href=""> 兑换添加优惠码</a></p>
     </div>
     <div class="PRO">
         <a href="">
            <img class="PRO_img" src="https://pic.midea.cn/h5/pic/201907/5d3529ea88aeb.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
         </a>
     </div>