<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/setUp.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2007327_9f4csgmczm7.css">
  <script src="/javascripts/rem.js"></script>
</head>

<body>
  <div class="setUpHeader">
    <a href="http://localhost:3000/users/center">
      <i class="iconfont icon-right"></i>
    </a>
    <h1>个人信息</h1>
  </div>
  <div class="setUpContainer">
    <ul class="setUpBox">
      <a href="">
        <li class="setUpPic">
          <p>头像</p>
          <img src="https://filecmms.midea.com/ccrm-prod/userHeadImg/defaultHeadImg.png" alt="">
        </li>
      </a>
      <a href="">
        <li>
          <p>账号与安全</p>
          <div class="setUpName">
            <span>屿莣&nbsp;</span>
            <i class="iconfont icon-iconfontjiantou5"></i>
          </div>
        </li>
      </a>
      <a href="">
        <li>
          <p>发货&物流问题</p>
          <div class="setUpName">
            <span>保密</span>
            <i class="iconfont icon-iconfontjiantou5"></i>
          </div>
        </li>
      </a>
      <a href="" class="setUpDel">
        <li>
          <p>发票问题</p>
          <div class="setUpName">
            <span>请填写生日</span>
            <i class="iconfont icon-iconfontjiantou5"></i>
          </div>
        </li>
      </a>
    </ul>
  </div>
  <div class="setUpWrap">
    <a href="" class="setUpItem">
      <span>我的地址</span>
      <i class="iconfont icon-iconfontjiantou5"></i>
    </a>
  </div>
  <div class="setUpWrap">
    <a href="" class="setUpItem">
      <span>账号安全</span>
      <div class="setUpList">
        <span>可修改密码&nbsp;</span>
        <i class="iconfont icon-iconfontjiantou5"></i>
      </div>
      
    </a>
  </div>
  <div class="setUpWrap">
    <a href="" class="setUpItem">
      <span>增票资质</span>
      <i class="iconfont icon-iconfontjiantou5"></i>
    </a>
  </div>
</body>

</html>