<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/shopping.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1869604_e8dxbgibxal.css">

</head>

<body>
    <div class="main">
        <div>
            <img src="http://pic.midea.cn/h5/pic/202005/1105021e9f68_1.jpg?x-oss-process=image/format,webp/quality,Q_90&amp"
                alt="">
        </div>
        <div>
            <img src="http://pic.midea.cn/h5/pic/202005/1105021e9f68_2.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
        </div>
        <div>
            <img src="http://pic.midea.cn/h5/pic/202005/1105021e9f68_3.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                alt="">
        </div>
        <div class="conpous">

            <div>
                <img src="http://pic.midea.cn/h5/pic/202005/1105021e9f68_4.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt="">
            </div>
            <div>
                <img src="http://pic.midea.cn/h5/pic/202005/1105021e9f68_5.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt="">
            </div>
            <div class="conpousClick">
                <a class ="conpous-link" href=""></a>
            </div>

        </div>
        <div class="prize-list">
            <div>
                <img src="http://pic.midea.cn/h5/pic/202005/fa10bd3d0990.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt="">
            </div>
            <div class="prize">
                <div class="prize-content">
                    <!-- 上左 -->
                    <a class="link-prize" href=""></a>
                </div>
                <div class="prize-content">
                    <!-- 上右 -->
                    <a class="link-prize" href=""></a>
                </div>
                <div class="prize-content">
                    <!-- 下左 -->
                    <a class="link-prize" href=""></a>
                </div>
                <div class="prize-content">
                    <!-- 下右 -->
                    <a class="link-prize" href=""></a>
                </div>
            </div>

        </div>
        <div class="background-click">
            <div>
                <img  src="http://pic.midea.cn/h5/pic/202005/5a2f265508fe.jpg?x-oss-process=image/format,webp/quality,Q_90&"
                    alt="">
            </div>
            <div class="middle-link">
                <!-- 左下抢购 -->
                
                <a class="shopPageLink" href=""></a>
            </div>
            <div class="middle-link2">
                <!-- 右下抢购 -->
                <a class="shopPageLink2" href=""></a>
            </div>
            <div class="middle-link3">
                <!-- 空调图片点击 -->
                <a class="airconditionLlik" href=""></a>
            </div>
            <div class="priceFont">1840</div>
            <div class="priceFont2">1994</div>
        </div>
        <div class="shopping">
            <div class="shop-list">
               <div>
                   <img src="http://pic.midea.cn/h5/pic/202005/b051288d574f.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
               </div>
                <div>
                    <a class="first-list" href=""></a>
                </div>
                <div>
                    <a class="second-list" href=""></a>
                </div>
                <div class="price-list">179</div>
                <div class="price-list2">296</div>
            </div>
            <div class="shop-list">
                <div>
                    <img src="http://pic.midea.cn/h5/pic/202005/69c9fe89bbe8.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                </div>
                 <div>
                     <a class="first-list" href=""></a>
                 </div>
                 <div>
                     <a class="second-list" href=""></a>
                 </div>
                 <div class="price-list">289</div>
                 <div class="price-list2">249</div>
             </div>
             <div class="shop-list">
                <div>
                    <img src="http://pic.midea.cn/h5/pic/202005/be6365245966.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                </div>
                 <div>
                     <a class="first-list" href=""></a>
                 </div>
                 <div>
                     <a class="second-list" href=""></a>
                 </div>
                 <div  class="price-list">1199</div>
                 <div class="price-list2">2199</div>
             </div>
             <div class="shop-list">
                <div>
                    <img src="http://pic.midea.cn/h5/pic/202005/f95859141bc7.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                </div>
                 <div>
                     <a class="first-list" href=""></a>
                 </div>
                 <div>
                     <a class="second-list" href=""></a>
                 </div>
                 <div class="price-list">1099</div>
                 <div class="price-list2">3999</div>
             </div>
             <div class="shop-list">
                <div>
                    <img src="http://pic.midea.cn/h5/pic/202005/649b6d8de896.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
                </div>
                 <div>
                     <a class="first-list" href=""></a>
                 </div>
                 <div>
                     <a class="second-list" href=""></a>
                 </div>
                 <div class="price-list">79</div>
                 <div class="price-list2">158</div>
             </div>
             
        </div>
        <div class="service">
            <div>
                <img src="http://pic.midea.cn/h5/pic/202005/5ea51292389d.jpg?x-oss-process=image/format,webp/quality,Q_90&" alt="">
            </div>
            <div>
                <a class="service-list" href=""></a>
            </div>
            <div>
                <a class="service-list2" href=""></a>
            </div>
            <div>
                <a class="service-list3" href=""></a>
            </div>
            <div>
                <a class="service-list4" href=""></a>
            </div>
        </div>
        <div class="foot">
            <div>
                <img src="http://pic.midea.cn/h5/pic/202005/14e89b43d73b.png?x-oss-process=image/format,webp/quality,Q_90&" alt="">
            </div>
            <div>
                <a class="foot-back" href="https://m.midea.cn?mtag=680001.45.13"></a>
            </div>
            <div>
                <a class="foot-backHead" href="#floor-1588904566781" target="_blank"></a>
            </div>
        </div>
        <div class="shopWindow">
            <a href=""></a>
            <span class="number">0</span>
            <div class="shopping cart">
                <i class=" iconfont icon-gouwuche text" style="font-size: 0.5rem;" ></i>
            </div>
        </div>



    </div>
    <script src="/javascripts/rem.js"></script>
</body>

</html>