<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/Swiper/4.0.3/css/swiper.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2021333_8pc94rivsdi.css">
    <link rel="stylesheet" href="/stylesheets/Smart.css">
</head>

<body>
    <div class="box">
        <div class="head">
            <div class="head-le">
                <a href="">
                    <i class="iconfont icon-icon--"></i>
                </a>
            </div>
            <h2>智能场景购</h2>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="">
                            <img src="https://pic.mdcdn.cn/h5/pic/202008/234fe48ec495.jpg@1125w_600h_70Q.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <img src="https://pic.mdcdn.cn/h5/pic/202008/db60044ae45e.png@1125w_600h_70Q.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="smart-scenes-wrap">
            <div class="smart-scenes-head">
                <div class="scenes-head-nav">
                    <ul class="nav-list">
                        <li class="nav-tab ">
                            <span class="nav-active">智慧客厅</span>
                        </li>
                        <li class="nav-tab ">
                            <span>智慧厨房</span>
                        </li>
                        <li class="nav-tab ">
                            <span>智慧卧室</span>
                        </li>
                        <li class="nav-tab ">
                            <span>智慧浴室</span>
                        </li>
                        <li class="nav-tab ">
                            <span>智慧阳台</span>
                        </li>
                        <li class="nav-tab ">
                            <span>智慧全屋</span>
                        </li>
                    </ul>
                </div>
                <div class="tabs_content">
                    <div class="tabs_track">
                        <div class="trank_top">
                            <img src="https://pic.mdcdn.cn/h5/pic/202008/0f89fb00aa67.jpg@1029w_414h_100Q.jpg" alt="">
                        </div>
                        <h3>舒适起居 营造舒适环境，让你惬意自在</h3>
                        <div class="track_img">
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/166959/pic/aae201989a720f55A22303/aae201989a720f55A22303_120*120.jpg" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/195310/pic/eebe5bebda6dd8deA15751/eebe5bebda6dd8deA15751_120*120.jpg" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/142490/pic/7500dc7ed75336e2A1483/7500dc7ed75336e2A1483_120*120.jpg" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/158999/pic/3d74b3351e0f33d3A10993/3d74b3351e0f33d3A10993_120*120.jpg" alt="">
                            </div>
                        </div>
                        <div class="trank_txt">
                            <div class="trank_txt1">定时清洁</div>
                            <div class="trank_txt1">空气管家</div>
                        </div>
                        <div class="trank_text">
                            <div class="trank_text-le">
                                <div class="trank_text-top">
                                    <img src="https://pic.mdcdn.cn/h5/pic/202008/32245cf23791.jpg@489w_489h_100Q.jpg" alt="">
                                </div>
                                <div class="trank_text-topImg">
                                    <div class="trank_text-topImg1">
                                        <img src="https://img.mdcdn.cn/ImageStore/191380/pic/3d22908a24af6466A30113/3d22908a24af6466A30113_120*120.jpg" alt="">
                                    </div>
                                    <div class="trank_text-topImg1">
                                        <img src="https://img.mdcdn.cn/ImageStore/168086/pic/624d07b2bfcb469dA19548/624d07b2bfcb469dA19548_120*120.jpg" alt="">
                                    </div>
                                    <div class="trank_text-topImg1">
                                        <img src="https://img.mdcdn.cn/ImageStore/170442/pic/52fb35302cd14b0dA8227/52fb35302cd14b0dA8227_120*120.jpg" alt="">
                                    </div>
                                    <div class="trank_text-topImg1">
                                        <span>+2</span>
                                    </div>
                                </div>
                                <div class="trank_text-rgTxt">
                                    安心入户  让家充满...
                                </div>
                                <div class="trank_txt">
                                    <div class="trank_txt1">语音伴读</div>
                                    <div class="trank_txt1">睡前故事</div>
                                </div>
                            </div>
                            <div class="trank_text-rg">
                                <div class="trank_text-top">
                                    <img src="https://pic.mdcdn.cn/h5/pic/202008/0b540ac12c1b.jpg@489w_489h_100Q.jpg" alt="">
                                </div>
                                <div class="trank_text-topImg">
                                    <div class="trank_text-topImg1">
                                        <img src="https://img.mdcdn.cn/ImageStore/161049/pic/da1e00a82567e71aA1804/da1e00a82567e71aA1804_120*120.jpg" alt="">
                                    </div>
                                    <div class="trank_text-topImg1">
                                        <img src="https://img.mdcdn.cn/ImageStore/186161/pic/aae5d00e15a1d1e2A15678/aae5d00e15a1d1e2A15678_120*120.jpg" alt="">
                                    </div>
                                    <div class="trank_text-topImg1">
                                        <img src="https://img.mdcdn.cn/ImageStore/170442/pic/52fb35302cd14b0dA8227/52fb35302cd14b0dA8227_120*120.jpg" alt="">
                                    </div>
                                </div>
                                <div class="trank_text-rgTxt">
                                    带娃无忧 实时互联...
                                </div>
                                <div class="trank_txt">
                                    <div class="trank_txt1">语音伴读</div>
                                    <div class="trank_txt1">睡前故事</div>
                                </div>
                            </div>
                        </div>
                        <div class="trank_foot">
                            <img src="https://pic.mdcdn.cn/h5/pic/202008/fe94fcf13eb6.jpg@80Q.jpg" alt="">
                        </div>
                    </div>
                    <div class="tabs_track">
                        <div class="trank_top">
                            <img src="https://pic.mdcdn.cn/h5/pic/202008/fc062c2ef57c.jpg@1029w_414h_100Q.jpg" alt="">
                        </div>
                        <h3>轻松下厨 倍有范，你就是星级掌厨</h3>
                        <div class="track_img">
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/169663/pic/2aacf35d4b588fdcA8211/2aacf35d4b588fdcA8211_120*120.png" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/167129/pic/fedb717604992b67A13832/fedb717604992b67A13832_120*120.jpg" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/170442/pic/52fb35302cd14b0dA8227/52fb35302cd14b0dA8227_120*120.jpg" alt="">
                            </div>
                        </div>
                        <div class="trank_txt">
                            <div class="trank_txt1">语音</div>
                            <div class="trank_txt1">美食</div>
                            <div class="trank_txt1">健康</div>
                        </div>
                        <div class="trank_text">
                            <div class="trank_text-le">
                                <div class="trank_text-top">
                                    <img src="https://pic.mdcdn.cn/h5/pic/202008/32245cf23791.jpg@489w_489h_100Q.jpg" alt="">
                                </div>

                            </div>
                            <div class="trank_text-rg">
                                <div class="trank_text-top">
                                    <img src="https://pic.mdcdn.cn/h5/pic/202008/0b540ac12c1b.jpg@489w_489h_100Q.jpg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tabs_track">
                        <div class="trank_top">
                            <img src="https://pic.mdcdn.cn/h5/pic/202008/211e41517676.jpg@1029w_414h_100Q.jpg" alt="">
                        </div>
                        <h3>舒适睡眠 时刻贴心守候，让你睡个好觉</h3>
                        <div class="track_img">
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/166710/pic/8a23b957144eb41dA11653/8a23b957144eb41dA11653_120*120.jpg" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/143239/pic/85fb39a05319005dA12914/85fb39a05319005dA12914_120*120.jpg" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/175415/pic/324a4a41ebe30439A7180/324a4a41ebe30439A7180_120*120.jpg" alt="">
                            </div>
                            <div class="trank_img-1">
                                <img src="https://img.mdcdn.cn/ImageStore/175415/pic/324a4a41ebe30439A7180/324a4a41ebe30439A7180_120*120.jpg" alt="">
                            </div>
                        </div>
                        <div class="trank_txt">
                            <div class="trank_txt1">语音</div>
                            <div class="trank_txt1">美食</div>
                            <div class="trank_txt1">健康</div>
                        </div>
                        <div class="trank_text">
                            <div class="trank_text-le">
                                <div class="trank_text-top">
                                    <img src="https://pic.mdcdn.cn/h5/pic/202008/32245cf23791.jpg@489w_489h_100Q.jpg" alt="">
                                </div>

                            </div>
                            <div class="trank_text-rg">
                                <div class="trank_text-top">
                                    <img src="https://pic.mdcdn.cn/h5/pic/202008/0b540ac12c1b.jpg@489w_489h_100Q.jpg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/rem.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/4.0.3/js/swiper.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {

            //无缝连接
            loop: true,

            //自动播放
            autoplay: true,

            //分页器
            pagination: {
                el: '.swiper-pagination',
            }
        })

        var noot = 0;
        //tab切换
        $('.nav-tab').on('click',function(){
            $(this).children().addClass('nav-active').parent().siblings().children().removeClass('nav-active')

           index = $(this).index();
           if(index > noot){
               noot = index
               $('.tabs_content').stop().animate({
                   left: -375 * noot
               })
           }else if(index < noot){
               noot = index
               $('.tabs_content').stop().animate({
                   left: -375 * noot
               })
           }
        })
    </script>
</body>

</html>