body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(244, 244, 244);
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index:10;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header_left,
.header_right {
    float: left;
    width: 1rem;
    height: 0.88rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_btn {
    display: block;
    width: 0.36rem;
    height: 0.36rem;
    text-align: center;
    line-height: 0.36rem;
    color: #333333;
    background-color: #fff;
}

.header_md {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.02rem;
    height: 0.88rem;
}

.header_md li {
    width: 0.56rem;
    line-height: 0.88rem;
    font-size: 14px;
    color: #333;
    margin-left: 0.4rem;
    position: relative;
}

.header_md .header_item:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0092d8;
    bottom: 7px;
    border-radius: 2px;
}

.header_md .header_md_active {
    color: #0092d8;
}

.header_md li:nth-child(1) {
    margin-left: 0;
}

.clearfix:after {
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
    clear: both;
}

/* 商品信息展示 */
.main_wrap {
    width: 100%;
    margin-top: 0.88rem;
}

.main_notice {
    padding: 0 0.32rem;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.main_no_logo {
    display: inline-block;
    width: 0.28rem;
    height: 0.28rem;
    background: url('/images/goods_main_notice.png') no-repeat 0 0;
    background-size: 100%;
    margin-top: 0.14rem;
}

.main_no_message {
    width: 6rem;
    font-size: 0.24rem;
    line-height: 0.64rem;
    text-align: justify;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

.show_msg {
    line-height: 0.35rem;
    white-space: initial;
    text-overflow: initial;
    overflow: initial;
    padding-top: 0.16rem;
    padding-bottom: 0.18rem;
}

.main_no_down {
    display: inline-block;
    width: 0.13rem;
    height: 0.13rem;
    border-bottom: 0.01rem solid white;
    border-right: 0.01rem solid white;
    transform: rotate(45deg);
    margin-top: 0.14rem;
}

/* 
 商品图品轮播 */

.main_banner img {
    width: 100%;
    height: 7.5rem;
}

.swiper-pagination {
    width: 0.34rem;
    height: 0.32rem;
    padding: 0 0.18rem;
    border-radius: 0.16rem;
    background-color: rgba(0, 0, 0, 0.4);
    ;
}

.swiper-pagination-fraction {
    left: unset;
    right: 0.24rem;
}

.main_banner .swiper-container-horizontal>.swiper-pagination {
    font-size: 0.24rem;
    color: white;
    letter-spacing: -2px;
    line-height: 0.32rem;
}

/* 限时抢购 */

.act_emphais {
    width: 100%;
    padding: 0.2rem 0.32rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(134deg, #FF8700 0%, #FF5F00 100%)
}

.act_time {
    color: white;
    font-size: 0.24rem;
    line-height: 0.36rem;
}

.act_price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.24rem;
    color: white;
    margin-top: 0.12rem;
}

.act_price del {
    margin: 0 0.05rem;
    font-weight: 700;
}

.act_price i {
    font-size: 0.48rem;
    font-weight: 700;
}

.act_price div {
    border-radius: 0.1rem;
    height: 0.28rem;
    background-color: #ffe7b9;
    padding-right: 0.14rem;
}

.act_price div i {
    float: left;
    width: 0.7rem;
    height: 0.28rem;
    font-style: italic;
    background-color: #242733;
    border-radius: 0.1rem;
    color: #ffe7b9;
    font-size: 0.2rem;
    line-height: 0.28rem;
    text-align: center;
}

.act_price div span {
    float: left;
    color: #4e3919;
    line-height: 0.28rem;
}

.act_right {
    height: 0.96rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.range {
    color: white;
    text-align: right;
    font-size: 0.24rem;
    font-weight: 700;
    /* margin-bottom: 0.2rem; */
}

.countdown span {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    line-height: 0.4rem;
    background-color: #fff;
    border-radius: 0.02rem;
}

/* 开通会员 */
.open_member {
    width: 100%;
    padding-top: 0.32rem;
    background-color: #fff;
}

.open_mem_entrence {
    display: flex;
    justify-content: space-between;
    width: 6.38rem;
    height: 0.36rem;
    margin: 0 auto;
    padding: 0.14rem 0.24rem;
    color: #ffe7b9;
    font-size: 0.24rem;
    line-height: 0.36rem;
    border-radius: 0.32rem;
    background: linear-gradient(156deg, #272a30 0%, #202227 100%);
}

.open_mem_entrence i {
    margin-left: 0.1rem;
    font-size: 0.24rem;
}

.open_mem_entrence a {
    color: #ffe7b9;
}

/* 活动类型 */
.activity_type {
    padding: 0.24rem 0.32rem 0 0.332rem;
    background-color: #fff;
}

.activity_type span {
    display: inline-block;
    margin: 0.08rem 0;
    padding: 0rem 0.16rem;
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.24rem;
    border-radius: 0.18rem;
    color: #f60;
    background-color: rgba(255, 102, 0, 0.1);
}

.activity_type span:nth-child(1) {
    color: #4e3919;
    background-color: rgba(255, 231, 185, 1);
}

/* 商品属性 */
.goods_info {
    width: 100%;
    background-color: #fff;
}

.title_wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 0.16rem 0.32rem 0.28rem;

}

.title_con {
    position: relative;
    color: #333;
    max-height: 0.8rem;
    padding-right: 0.73rem;
    font-size: 0.32rem;
    line-height: 0.4rem;
    margin-bottom: 0.08rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.title_con>span {
    float: left;
    color: #0092d8;
    border-radius: 0.18rem;
    font-size: 0.24rem;
    background-color: rgba(0, 146, 216, 0.1);
    padding: 0 0.16rem;
    margin-right: 0.06rem;
}

/* 关注覆盖层 */
.global_cover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.like_cover_con {
    width: 1.64rem;
    height: 1.6rem;
    background-color: rgb(33, 33, 33);
    border-radius: 0.1rem;
    position: fixed;
    left: 50%;
    top: 2.5rem;
    transform: translateX(-0.87rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.like_cover_con:nth-child(0) i {
    font-size: 0.48rem;
    display: block;
    color: #f60;
}

.like_cover_con .sure {
    display: none;
    font-size: 0.48rem;
    color: white;
}

.like_cover_con span {
    color: white;
    font-size: 0.28rem;
    display: block;
    margin-top: 0.2rem;
}

.big_heart {
    color: #f60;
}

.like_btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.like_btn span {
    line-height: 0.16rem;
    font-size: 0.2rem;
    color: #999;
}

.title_wrap>a {
    color: #999;
    font-size: 0.24rem;
    line-height: 0.36rem;
}

.goods_world span {
    color: #0092d8;
    margin-left: 0.12rem;
}

.goods_world span i {
    font-size: 0.18rem;
}

.goods_property {
    height: 80px;
    overflow: hidden;
}

.property_list {
    display: flex;
    justify-content: space-between;
    padding: 0 0.3rem 0.2rem;
    margin-bottom: 0.2rem;
    overflow-x: auto;
}

.property_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: 88px;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    min-width: 0;
}

.property_item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0.03rem;
    background-color: #E5E5E8;
    transform: scaleX(0.5);
}

.property_item img {
    width: 0.4rem;
    height: 0.4rem;
    margin-bottom: 0.2rem;
}

.property_item h4 {
    margin-bottom: 0.01rem;
    font-size: 0.28rem;
    color: #555;
    font-weight: normal;
    line-height: 0.42rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.property_item p {
    width: 1.68rem;
    font-size: 0.24rem;
    color: #999;
    line-height: 0.36rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

/*  商品积分*/
.integral {
    width: 100%;
    margin-top: 0.24rem;
    padding: 0.32rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
}

.get_integral {
    display: flex;
    line-height: 0.36rem;
    font-size: 0.28rem;

}

.get_integral i {
    color: #f60 !important;
    margin-right: 0.2rem;
    font-size: 0.36rem;
}

.get_integral p>span {
    color: #f60;
}

.look_integral span {
    font-size: 0.28rem;
    color: #333;
}

.public_icon {
    color: #b7b7b7;
    font-size: 0.28rem;
}
/* 积分遮照层 */
.cover_con{
    /* height: 85%; */
    width: 100%;
    background-color: #fff;
    position: absolute;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    left: 0;
    bottom: 0;
}
.cover_con_tit{
    text-align: center;
    font-size:0.32rem;
    color: #333;
    font-weight: 700;
    line-height: 0.48rem;
    padding: 0.4rem 0.32rem 0;
    position: relative;
}
.inter_close{
    position: absolute;
    right: 0.32rem;
    top: 0.32rem;
    color: #ddd;
}
.inter_con{
    color: #333;
    padding: 0 0.32rem;
}
.shop_score{
    font-size: 0.28rem;
    font-weight: 700;
    line-height: 0.4rem;
    margin-bottom: 0.14rem;
    color: #333;
}
.max_score{
    line-height: 0.36rem;
}
.max_score span{
    color:#f60;
}
.haved_score{
    margin-top: 0.1rem;
    line-height: 0.36rem;
}

.inter_clo{
    position: absolute;
    left: 0.32rem;
    bottom: 0.1rem;
    width:6.86rem;
    background-color: #0092d8;
    line-height: 0.8rem;
    height: 0.8rem;
    color: white;
    text-align: center;
    border-radius: 0.4rem;

}




/* 会员覆盖层 */
.cover_html{
    height: 100%;
    overflow: hidden;
}
.mem_cover {
    /* display: block; */
    height: 100%;
    overflow-y:auto;
}
.mem_con {
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    z-index: 999;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.mem_con>i {
    position: absolute;
    right: 0.32rem;
    top: 0.32rem;
    color: #ddd;
}
.mem_header{
    padding: 0.4rem 0.32rem 0;
    text-align: center;
    
}
.mem_header_tit{
    font-size: 0.32rem;
    line-height: 0.32rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 0.28rem;
}
.mem_header_tit i{
    font-size: 0.32rem;
    margin-right: 0.1rem;
}
.header_desc{
    font-size: 0.24rem;
    color: #999;
    margin-bottom: 0.28rem;
    line-height: 0.36rem;
}
.mem_content{
    height: 8.5rem;
    overflow: auto;
    padding: 0.1rem 0.32rem 0;
    margin-bottom: 1rem;
}
.mem_tit{
    font-size: 0.28rem;
    color: rgb(51, 51, 51);
    font-weight: 700;
    line-height: 0.42rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.mem_detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.38rem;
}
.left_detail{
    height: 0.36rem;
    width: 0.36rem;
    background-color: #0092d8;
    border-radius: 50%;
    text-align: center;
    line-height: 0.36rem;
    color: white;
    font-size: 0.24rem;
}
.right_detail{
    display: fle;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.2rem;
    line-height: 0.36rem;
}
.right_detail p{
    color: #333;
   
}
.right_detail span{
    color: #999;
}
.chang_bg01{
    background-color: #666;
}
.mem_promote .right_detail p,
.mem_promote .right_detail span{
    color: #999;
}
.chang_bg02{
    color: white;
    background-color: #666;
}
.mem_member {
    margin-top: 10px;
    opacity: 0.5;
}
.mem_footer{
    width:6.86rem;
   
    border-radius: 0.4rem; 
    margin: 0 0.41rem;  
    background-color: #0092d8;
    font-size: 0.28rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.fixed_footer{
    position: fixed;
    bottom: 0.1rem;
    left: 0;
    line-height: 0.8rem;
}






/*商品优惠汇总  */
.activity_total {
    width: 100%;
    padding: 0.32rem;
    margin-top: 0.24rem;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
}
.act_total_type {
    color: #f60;
    font-size: 0.24rem;
    line-height: 0.4rem;
}

.total_tag {
    font-size: 0.28rem;
    font-weight: 700;
    margin-right: 0.24rem;
}

.total_tag_tit {
    height: 0.36rem;
    margin-right: 0.12rem;
    padding: 0 0.16rem;
    background-color: rgba(255, 102, 0, 0.1);
    border-radius: 0.18rem;

}

.total_tag_small,
.total_tag_big {
    transform: scale(0.8);
    padding: 0 0.1rem;
    border: 0.01rem solid #f60;
}

.act_total_con {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.act_total_type {
    display: flex;
}

.discount_con {
    width: 100%;
    text-align: left;
    padding-left: 0.74rem;
    padding-right: 0.02rem;
    box-sizing: border-box;
    border: 0.01rem solid transparent;
}

.con_flex {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    margin-top: 0.32rem;
    line-height: 0.4rem;
}

.con_flex span {
    min-width: 0.48rem;
    padding: 0 0.16rem;
    margin-right: 0.12rem;
    border-radius: 0.18rem;
    font-size: 0.24rem;
    color: #f60;
    background-color: rgba(255, 102, 0, 0.1);
}
.con_flex p {

    font-size: 0.28rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 会员权限 */
.member_rights {
    width: 100%;
    margin-top: 0.24rem;
    background-color: #fff;
}

.rights_section {
    display: flex;
    justify-content: space-between;
}

.icon-quanxian,
.icon-xuanzhong1 {
    color: #0092d8 !important;
}

.rights_section span {
    color: #333;
    font-size: 0.28rem;
    font-weight: 700;
}

.public_padding {
    width: 100%;
    padding: 0.32rem;
    box-sizing: border-box;
}

.rights_service {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.service_item {
    margin-right: 0.3rem;
    margin-bottom: 0.14rem;
    font-size: 0.24rem;
}

.icon-xuanzhong1 {
    font-size: 0.28rem;
    margin-right: 0.1rem;
}

/* 购买选项 */

.buy_info {
    width: 100%;
    margin-top: 0.24rem;
    background-color: #fff;
}

.buy_standards,
.buy_address {
    line-height: 0.4rem;
    padding: 0.32rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.line {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 0.01rem;
    width: 6.86rem;
    transform: translateX(-50%) scaleY(0.2);
    background-color: #999;
}

.buy_standards>div,
.buy_address>div {
    display: flex;
}

.opt_status,
.opt_address {
    font-size: 0.28rem;
    font-weight: bold;
    color: #333;
    margin-right: 0.24rem;
}

.buy_standards>div p,
.buy_address>div p {
    color: #333;
    font-size: 0.28rem;
}

.buy_address a {
    color: #0092d8 !important;
    font-size: 0.24rem;
}

/* 会员评价 */
.member_assess {
    width: 100%;
    margin-top: 0.24rem;
    background-color: #fff;
}

.assess_tit {
    padding: 0.32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_num {
    display: flex;
    align-items: center;


}

.total_num {
    color: #333;
    font-size: 0.32rem;
    font-weight: 700;
}

.total_num span {
    margin: 0 0.1rem;
    font-size: 0.24rem;
}

.assess_all a {
    color: #333;
    font-size: 0.24rem;
}

.assess_tag {
    padding: 0.32rem;
    color: #333;
}

.assess_tag span {
    display: inline-block;
    height: 0.48rem;
    text-align: center;
    padding: 0 0.24rem;
    margin-right: 0.16rem;
    line-height: 0.48rem;
    border-radius: 0.24rem;
    font-size: 0.24rem;
    background-color: rgba(0, 146, 216, 0.1);
}

.assess_list {
    width: 100%;
    padding: 0.4rem 0.32rem;
    box-sizing: border-box;
    background-color: #fff;
}

.assess_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_msg {
    display: flex;
    align-items: center;
    text-align: center;
}

.user_photo {
    height: 0.64rem;
    width: 0.64rem;
    border-radius: 50%;
}

.user_name {
    margin: 0 0.12rem 0 0.16rem;
    font-size: 0.28rem;
}

.user_msg i {
    display: inline-block;
    color: #d7ae4b;
    font-size: 0.56rem;
    height: 0.24rem;
}

.report_time {
    font-size: 0.24rem;
    color: #999;
}

.assess_con {
    margin-top: 0.2rem;
    line-height: 0.36rem;
    font-size: 0.26rem;
    color: #666;
}

.assess_pic_list {
    margin-top: 0.12rem;
    overflow: auto;
}

.assess_pic_list img {
    height: 1.6rem;
    width: 1.6rem;
    margin-top: 0.16rem;
    margin-right: 0.16rem;
    border-radius: 0.2rem;
}

/* 产品推荐 */
.recommendTab {
    background-color: #fff;
}

.recommend_tit {
    margin-top: 0.24rem;
    padding: 0.36rem 0.32rem;
    font-size: 0.32rem;
    color: #333;
    line-height: 0.4rem;
    font-weight: 700;
}


.recommend_box {
    padding-left: 0.08rem;
}

.recommend_box0 {
    width: 7.5rem;
}

.product {
    height: 4.34rem;
    padding: 0 0.24rem;
    text-align: center;
}

.product img {
    height: 2.24rem;
    width: 2.24rem;
}

.info {
    width: 2.24rem;
    font-size: 0.26rem;
    color: #333;
    line-height: 0.38rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.price {
    margin: 0.28rem auto 0;
    font-size: 0.24rem;
    line-height: 0.48rem;
    color: #ff6600;
    font-weight: bold;
    text-align: left;
}

.rec_cart {
    float: right;
    height: 0.48rem;
    width: 0.48rem;
    text-align: center;
    line-height: 0.48rem;
    margin-right: 0.24rem;
    background-color: #0092d8;
    border-radius: 50%;
    color: white;
    font-size: 0.28rem;
}

/* 
 产品信息列表  */
.product_info_wrap {
    width: 100%;
    margin-top: 0.24rem;
    background-color: #fff;
}

.nav_info_list {
    font-size: 0.28rem;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
}

.detail_img_wrap img {
    display: block;
    height: 100%;
    width: 100%;
}

.marking_price_wrap {
    padding: 0.34rem 0.5rem 0.4rem 0.5rem;
    font-size: 0.2rem;
    background-color: #fff;
}

.marking_price__title {
    font-size: 0.24rem;
    color: #000;
    font-weight: bold;
    line-height: 0.2rem;
    padding-left: 0.1rem;
    margin-bottom: 0.12rem;
    position: relative;
}

.marking_price__title:after {
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 10px;
    border-left: 2px solid #000;
}

.marking_price__content {
    padding-left: 0.1rem;
    margin-bottom: 0.3rem;
    color: #999;
    line-height: 0.36rem;
}

/*  商品购买功能  */
.btn_wrap {
    width: 100%;
    position: fixed;
    z-index: 15;
    bottom: 0;
    left: 0;
    height: 1.12rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.func_btn {
    width: 0.96rem;
    height: 1.12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.func_btn a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #666;

}

.func_btn a i {
    font-size: 0.44rem;

}

.func_btn span {
    font-size: 0.2rem;
    margin-top: 0.12rem;
}

.btn_group {
    width: 4.3rem;
}

.btn_group a {
    display: block;
    width: 4.3rem;
    height: 0.8rem;
    background-color: #0092d8;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 0.8rem;
    color: white;
    font-size: 0.28rem;
    font-weight: 700;
    margin-left: 0.15rem;
}