
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.hd-col{
    height: 44px;
    line-height: 44px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 50;
    border-bottom: 1px solid #eee;
}
.hd-col-left{
    position: absolute;
    width: 50px;
    height: 44px;
    text-align: center;
}
.hd-col-middle{
    font-size: 17px;
    position: relative;
    text-align: center;
    margin: 0 60px;
}
.hd-col-middle h1{
    font-size: 17px;
    line-height: 44px;
    color: #000;
    font-weight: normal;
    white-space: nowrap;
    font-family: initial;
    text-overflow: ellipsis;
}
.hd-col .hd_back{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 19px;
}
.cart_wrap{
    padding-top: 44px;
    padding-bottom: 114px;
    background-color: #f4f4f4;
}
.top_box{
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    background: #f4f4f4;
    padding-left: 12px;
    font-size: 12px;
    color: #999;
    padding-right: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.cart_left{
   float: left;
   max-width: 61%;
}
.cart_left .cart_left_name{
    padding: 14px 0;
    vertical-align: text-top;
    line-height: 12px;
}
.cart_right{
   float: right;
}
.fix_bar{
    bottom: -2px;
    background-color: #fff;
    padding: 0;
    position: fixed;
    width: 100%;
    max-width: 768px;
    z-index: 99;
}
.cart_bottom_main{
    position: relative;
    height: 49px;
    line-height: 50px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    font-size: 14px;
    background: #ffffff;
}
.fix_bar .cart_left{
    width: 25%;
    padding-left: 11px;
}
.cart_left_name{
    margin-left: 26px;
    padding: 17.5px 0;
    line-height: 23px;
    font-size: 15px;
}
.price_box{
    position: absolute;
    right: 100px;
    top: -9px;
    width: 50%;
    text-align: right;
    margin-right: 16px;
    font-size: 15px;
    color: #333;
}
.gray_btn{
    position: absolute;
    right: 0;
    top: -1px;
    color: #ffffff;
    font-size: 17px;
    width: 100px;
    text-align: center;
    background: #ff6600;
}
.cart_product_price{
    font-weight: bold;
    color: #ff6600;
    font-size: 13px;
}
.symbol{
    margin-right: 3px;
    font-style: normal;
}
.price_tip{
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 10px;
    color: #ff6600;
}
/* 结算 */
.cart_right .gray_btn{
    background: #999;
}