
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{list-style: none;}
img{
    border: 0 none;
    vertical-align: top;
}
a{
    cursor: pointer;
    text-decoration: none;
}
body{
    margin: 0 auto;
    height: 100%;
    background: #FFF;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
    color: #666;
}
.floor {
    position: relative;
    z-index: 2;
}
.floor img {
    width: 100%;
    height: 100%;
}
.floor_content{
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.floor_E{
    background-color: #3f386e;
}
.cont{
    position: relative;
    left: auto;
    margin: 0px auto;
    height: auto;
}
.user_info_box{
    position: relative;
    margin: 16px 10px;
    font-size: 12px;
    background: #fff;
}
.info_box_inner{
    position: absolute;
    top: 0;
    left: 0.25rem;
    width: 9.5rem;
    height: 2rem;
}
.user_info{
    position: relative;
    height: 100%;
}
.user_info .full{
    position: absolute;
    top: 0.4rem;
    left: 0.2rem;
    width: .85rem;
    height: .85rem;
    border-radius: 70px;
    -webkit-border-radius: 70px;
}
.user_bg img{
    width: 100%;
    height: 2rem;
    border-radius: 12px;
}
.user_info .nick_name{
    position: absolute;
    top: 0.42rem;
    left: 1.3rem;
    font-size: 0.275rem;
    font-weight: bold;
    color: #fff;
    width: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.user_info .user_level_img{
    position: absolute;
    top: .47rem;
    left: 3rem;
    font-size: 0.2rem;
    font-weight: bold;
    color: #fff;
}
.floor_wrap_bg .user_level_img img{
    width: 1.2rem;
}
.score_box{
    position: absolute;
    top: .9rem;
    left: 1.3rem;
    font-size: 0.18125rem;
    color: #fff;
    width: 100%;
}
.vip_right_desc {
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    font-size: 0.18125rem;
    color: #FFF;
}
.go_to_signing{
    position: absolute;
    right: 2.9rem;
    bottom: 0.275rem;
    /* background: rgba(164, 128, 88, 0.6); */
    border-radius: 0.78125rem;
    font-size: 0.18125rem;
    padding: 5px 25px;
    background: #375599 !important;
    opacity: 0.6;
}
.go_to_signing span{
    color: #fff;
}
.conts{
    margin-top: .15rem;
    position: relative;
    left: auto;
    margin: 0px auto;
    width: 100%;
    height: auto;
    padding-bottom: .15rem;
}
.project_major_inner {
    position: relative;
    min-height: 4.140625rem;
    overflow: hidden;
    background-color: #fff;
    margin: 0 0.3125rem 0.3125rem 0.3125rem;
}
.product_major_col1 {
    overflow: hidden;
    padding: 0 0 0.26875rem 0.425rem;
    float: left;
    width: 48%;
}
.product_major_col2 {
    position: relative;
    float: right;
    width: 45%;
}
.selling_proint {
    color: #fff;
    background-color: #ee8a34;
    font-size: 0.28125rem;
    box-sizing: border-box;
    padding: 0.09375rem 0.3125rem;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product_major_col_header{
    margin: 0.225rem 0 0.425rem 0;
}
.product_major_col_header p{
    margin-bottom: 0;
}
.product_major_main_title{
    font-size: 0.30625rem;
    font-weight: 700;
    color: #e43d3f;
}

.product_major_sub_title{
    color: #A0A0A0;
    font-size: 0.18125rem;
}
.pro{
    display: inline-block;
    width: 0.625rem;
    height: 0.28125rem;
    vertical-align: middle;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAASCAMAAAAewWyUAAABF1BMVEUAAABITV4QEhz75rk9QVDDxMYoLDk/Q1MdICwbHSk2OkkVGCIXGiUtMD4jJjMSFB5FSls6Pk4yNkQrLjwnKjZESFlCR1c0OEYxNEM4PUwhJDAUFiHLzM/r2K/i0avfzafLvaEvMkAZHCfOz9LIyczGxsnu2rGNh31hYmlBRVUlKDUgIi7v7/Hv3LO8rpKxo4mqnoeblIeSi4Kdkn6Yjnx+dWVOTU3R0tfQ0dXZyaWzqZWqoY6FfnVQVWVpZF1OUFlERk5BQUb7+/vr6+3j5ObV19q1trmWmaPRwZ/QwJ+OkZzFt5rEtpi1qI6jl4GEgHySiXaPhHF/eG9naG9xbm6Ee2x1bWJNUV1ZWFpgW1NeWVBJSlA7Oz/8yQESAAAAAXRSTlMAQObYZgAAAT5JREFUKM+Nz9d2gkAQgOFhhyBijaCiBlAhYBJ7b7Gk996T93+O7JJzouAN/83uxXd2ZwDg+OqQ85ZM74X4nJRSY7Kwnz8Qw9FCAsDyIr+L/zkC1QAukiAEzgM5Clfz6Ugrcmn31D+o69LLK3MM/rsKRdwEnXfUcxJv38jCpTET37BDnQfe45jjWui84ETKqrZB35vRf+sa8UJq2lxlVJu3cZpVO3irGAab7xH9sOiOWOHryLpYLvGO7dHcgLUal86E+G3dVr/tphLv4wN1RBv5IN3FdXO8Lsld7Od/sEFdD3s+2MYWc9IUm7LQx4YYbuAn+dLqxAfH6DCXdfBJUOKGppQjHUStR/wwmXFdqhSjLi+Gy5ECWWsBwRw5g2BuAbByuTUX9brnI4DqyelgMByaprnDsixrl7a1nlkFgF/PQiuGImWdgAAAAABJRU5ErkJggg==) no-repeat;
    background-size: 100% auto;
}
i,em{
    font-style: normal;
}
.product_major_cur_price{
    font-size: 0.2125rem;
}
.product_major_cur_price em{
    color: #e43d3f;
    font-size: 0.33125rem;
    font-weight: 700;
    line-height: .8;
    position: relative;
    top: 0.03125rem;
}
.product_major_buy_btn{
    margin-top: 0.1rem;
}
.product_major_buy_btn a{
    background-color: #e43d3f;
    position: relative;
    width: 2rem;
    height: 0.4875rem;
    line-height: 0.4875rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.3125rem;
    display: block;
    font-weight: bold;
}
.sale_tips{
    position: absolute;
    right: 0.2125rem;
    top: 0;
    width: 1rem;
}
.sale_tips .arrow_out{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.425rem solid transparent;
    border-right: 0.2125rem solid transparent;
    border-top: 0.425rem solid #8042F2;
    border-top-color: inherit;
    z-index: 0;
}
.sale_tips .arrow_inner{
    position: absolute;
    left: 0.1rem;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.58125rem solid transparent;
    border-right: 0.26875rem solid transparent;
    border-top: 0.58125rem solid #8042F2;
    border-top-color: inherit;
    z-index: 0;
}
.sale_tips span{
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 0.14375rem;
    display: block;
    text-align: center;
}
.selling_print{
    color: #fff;
    background-color: #ee8a34;
    font-size: 0.15125rem;
    box-sizing: border-box;
    padding: 0.09375rem 0.2125rem;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.floor_contents{
    position: relative;
    left: auto;
    margin: 0px auto;
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}
.product_major_list2 {
    display: flex;
    flex-wrap: wrap;
}
.product_major_item{
    float: left;
    width: 3.4rem;
    margin-left: 0.226rem;
    margin-bottom: 0.234375rem;
    background-color: #fff;
    overflow: hidden;
}
.product_major_list2_header{
    position: relative;
    padding: 0.134375rem 0.134375rem 0;
}
.product_major_list2_header img{
    width: 100%;
}
.product_major_list2_title{
    line-height: 0.5375rem;
    background-color: #F5f5f5;
    padding: 0.078125rem;
}
.product_major_list2_title p{
    margin-bottom: 0;
}
.product_major_list2_maintitle{
    font-size: 0.275rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
    text-overflow: ellipsis;
}
.product_major_list2_maintitle a{
    color: #333;
}
.product_major_list2_ft{
    position: relative;
    padding: 0.1875rem 0.15625rem 0.203125rem 0.15625rem;
}
.product_major_cur_price{
    color: #f5216c;
    font-weight: 700;
    font-size: 0.14rem;
}
.product_major_cur_price em{
    font-size: 0.346875rem;
}
.product_major_list2_ft del{
    margin-left: 0.15625rem;
    font-size: 0.12rem;
    text-decoration: line-through;
}
.product_major_buy_btn{
    position: absolute;
    top: 0.134375rem;
    right: 0.15625rem;
}
.product_major_buy_btn a{
    display: block;
    width: 1.1rem;
    height: 0.425rem;
    line-height: 0.425rem;
    text-align: center;
    background-color: #f5216c;
    color: #fff;
    font-size: 0.1125rem;
    font-weight: 700;
}
.asc .product_major_pro_price{
    position: absolute;
    font-size: 0.14125rem;
    top: 0.0625rem;
    margin-bottom: 0;
}
.asc .product_major_pro_price .pro_price_ico{
    display: inline-block;
    width: 0.425rem;
    height: 0.28125rem;
    margin-left: 0.078125rem;
    vertical-align: middle;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAASCAMAAAAewWyUAAABF1BMVEUAAABITV4QEhz75rk9QVDDxMYoLDk/Q1MdICwbHSk2OkkVGCIXGiUtMD4jJjMSFB5FSls6Pk4yNkQrLjwnKjZESFlCR1c0OEYxNEM4PUwhJDAUFiHLzM/r2K/i0avfzafLvaEvMkAZHCfOz9LIyczGxsnu2rGNh31hYmlBRVUlKDUgIi7v7/Hv3LO8rpKxo4mqnoeblIeSi4Kdkn6Yjnx+dWVOTU3R0tfQ0dXZyaWzqZWqoY6FfnVQVWVpZF1OUFlERk5BQUb7+/vr6+3j5ObV19q1trmWmaPRwZ/QwJ+OkZzFt5rEtpi1qI6jl4GEgHySiXaPhHF/eG9naG9xbm6Ee2x1bWJNUV1ZWFpgW1NeWVBJSlA7Oz/8yQESAAAAAXRSTlMAQObYZgAAAT5JREFUKM+Nz9d2gkAQgOFhhyBijaCiBlAhYBJ7b7Gk996T93+O7JJzouAN/83uxXd2ZwDg+OqQ85ZM74X4nJRSY7Kwnz8Qw9FCAsDyIr+L/zkC1QAukiAEzgM5Clfz6Ugrcmn31D+o69LLK3MM/rsKRdwEnXfUcxJv38jCpTET37BDnQfe45jjWui84ETKqrZB35vRf+sa8UJq2lxlVJu3cZpVO3irGAab7xH9sOiOWOHryLpYLvGO7dHcgLUal86E+G3dVr/tphLv4wN1RBv5IN3FdXO8Lsld7Od/sEFdD3s+2MYWc9IUm7LQx4YYbuAn+dLqxAfH6DCXdfBJUOKGppQjHUStR/wwmXFdqhSjLi+Gy5ECWWsBwRw5g2BuAbByuTUX9brnI4DqyelgMByaprnDsixrl7a1nlkFgF/PQiuGImWdgAAAAABJRU5ErkJggg==) no-repeat;
    background-size: 100% auto;
}
.asc .product_major_cur_price{
    color: #f5216c;
    font-weight: 700;
    font-size: 0.14125rem;
    display: inline-block;
    margin-top: 0.234375rem;
}
.asc .product_major_cur_price em{
    color: 0.2rem;
}
.asc .product_major_buy_price{
    position: absolute;
    top: 0.234375rem;
    right: 0.108rem;
}
.asc .product_major_buy_price a{
    display: block;
    width: 1.2rem;
    height: 0.425rem;
    line-height: 0.425rem;
    text-align: center;
    background-color: #f5216c;
    color: #fff;
    font-size: 0.2125rem;
    font-weight: 700;
}
.asc .product_major_cur_price em{
    font-size: 0.26875rem;
}






.mc_btn_area{
    height: 0.34rem;
    text-align: center;
    overflow: hidden;
}
.mc_btn_area a{
    display: block;
    position: relative;
    margin: 0 0.34375rem;
    width: 3.890625rem;
    height: 0.6875rem;
    line-height: 0.6875rem;
    text-align: center;
    /* vertical-align: middle; */
    color: #ffffff;
    font-size: 0.34375rem;
    font-weight: bold;
}
.mc_des{
    display: inline-block;
    height: 0.6875rem;
    line-height: 0.6875rem;
}
.mc_icon_arrow{
    vertical-align: top;
    margin-top: 0.2578125rem;
}