.head{
    height: 7.76rem;
    width: 100%;
}
.head img{
    width: 100%;
    height: 100%;
}
.center{
    height: 5.16rem;
    width: 100%;
    position: relative;
}
.center img{
    width: 100%;
    height: 100%;
}
.center_tz1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.center_tz1 a{
    display: block;
    width: 100%;
    height: 100%;
}
.center1 img,
.center2 img,
.center3 img,
.center4 img,
.center5 img,
.center6 img,
.center7 img,
.center8 img{
    width: 100%;
    height: 100%;
}
.center1 a,
.center2 a,
.center3 a,
.center4 a,
.center5 a,
.center6 a,
.center7 a,
.center8 a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.center2{
    width: 100%;
    height: 1.4rem;
    margin-top: 0.01rem;
}

.center3{
    height: 4.71rem;
    width: 100%;
    position: relative;
    
}

.center4{
    width: 100%;
    height: 1.4rem;
}

.center5{
    width: 100%;
    height: 7.93rem;
    position: relative;
}

.center6{
    height: 2.48rem;
    width: 100%;
    position: relative;
}

.center7{
    position: relative;
    width: 100%;
    height: 3.95rem;
}
/* 购物享特权 */
.center_text{
    background-color: #212330;
    width: 100%;
}
.center_text ul{
    overflow: hidden;
    padding: 0.21875rem 0.23rem;
}
.center_text-list{
    background-color: #fff;
    position: relative;
    width: 3.43rem;
    margin-bottom: 0.21875rem;
}

.center_text-list1{
    float: left;
}
.center_text-list2{
    float: right;
}
.center_text-head{
    position: relative;
    /* z-index: 2; */
}
.center_text-list img{
    width: 3.43rem;
    height: 3.43rem;
}
.center_text-list .center_text-p1{
    font-size: 0.24rem;
    font-weight: 500;
    margin: 0.15rem 0.34375rem;
    text-align: left;
    height: 0.52rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.center_text-list .center_text-p1 a{
    color: #6f6f6f;
}
.center_text-list .center_text-div1{
    margin: 0rem 0.34375rem;
    height: 0.5rem;
    font-weight: bold;
}
.center_text-list .center_text-div1 a{
    color: #ff7920 ;
}
.center_text-div1-span2{
 font-size: 0.38rem;
}
.center_text-div2,.center_text-div1{
    position: relative;
}
.center_text-div1 a, .center_text-div2 a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
}
.center_text-div2{
    background-color: #ff7920;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    padding: 0 0.2rem;
    width: 2.7rem;
    margin: 0 auto .3rem;
    position: relative;
}
.itb{
    position: absolute;
    top: 5%;
    left: 66%;
    font-weight: 100;
}
.mc_icon_tag{
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 0.15625rem;
    left: 0.15625rem;
    background: url(https://img.mdcdn.cn/h5/img/act/common_slices/common_sp.png);
    background-size: 3.21875rem 2.90625rem;
}
.mc_icon_tag-txt{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.21875rem;
    text-align: center;
    color: #fff;
}
.mc_icon_tag span{
    display: block;
}
/* 积分专属兑换 */
.integral_text{
    position: relative;
    height: 3.93rem;
    width: 100%;
}
.integral_text img{
    width: 100%;
    height: 100%;
}
.integral_text a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* 更多权益 */
.MoreService{
    width: 100%;
    height: 6.5rem;
    position: relative;
}
.MoreService img{
    width: 100%;
    height: 100%;
}
.MoreService a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* 更多服务 */
.footer{
    position: relative;
    /* padding-bottom:.3rem ; */
}
.footer-img{
    width: 100%;
    height: 1.08rem;
}
.footer-img img{
    width: 100%;
    height: 100%;
}
.footer-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.footer-text-le{
    position: absolute;
    width: 50%;
    height: 1.08rem;
    top: -0.109375rem;
    left: 0.09375rem;
}
.footer-text-le a,.footer-text-rg a{
    display: block;
    width: 100%;
    height: 100%;
}
.footer-text-rg{
    position: absolute;
    width: 50%;
    height: 1.08rem;
    top: -0.109375rem;
    left: 50%;
}
/* 返回顶部 */
.ToTop{
    width: 100%;
    height: 1.27rem;
    position: relative;
}
.ToTop img{
    width: 100%;
    height: 100%;
}
.ToTop a{
    position: absolute;
    top: 0;
    left: 0;
   /* display: block; */
   width: 100%;
   height: 100%;
}