/* body,html{
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
} */
/* 头部 */
.header{
  width: 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: .88rem;
  z-index: 50;
}
.header_box{
  border-bottom: 1px solid #0092d8;
  background-color: #0092d8;
  color: #fff;
  line-height: .88rem;
  width: 100%;
  height: .88rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search{
  width: 6rem;
  height: .7rem;
  background-color: #fff;
  border-radius: .1rem;
  margin-left: .3rem;
}
.search a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search a i{
  width: 12%;
  height: .8rem;
  text-align: center;
}
#home_search{
  border-radius: .1rem;
  width: 88%;
  height: .7rem;
  outline: none;
  border: none;
  text-indent: 10px;
  font-size: 16px;
}
#service{
  display: block;
  height: .7rem;
  width: .7rem;
  text-align: center;
  margin-right: .20rem;
}
#service i{
  display: block;
  font-size: .50rem;
  color: #fff;
  line-height: .7rem;
}
i{
  display: block !important;
}

/* 通知 */
.notice{
  width: 100%;
  height: .7rem;
  overflow: hidden;
  margin-top: .8rem;
  padding-top: .25rem;
  position: relative;
}
#notice{
  width: 95%;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: .1rem;
}
.notice i{
  position: absolute;
  top: .37rem;
  font-size: .40rem;
  color: #000;
}
.notice i:nth-child(2){
  right: .4rem;
  width: .4rem;
  height: .4rem;
  /* transform: rotate(180deg); */
}
.notice i:nth-child(1){
  left: .4rem;
  top: .4rem;
  font-size: .36rem;
  font-weight: bold;
}
#notice p{
  padding: .1rem .8rem;
  font-size: .24rem;
  line-height: 2;
}
.home_banner{
  box-sizing: border-box;
  width: 100%;
  padding: 0 .2rem;
  margin-top: .1rem;
  height: 2.9rem;
}
.swiper-container{
  width: 100%;
  height: 100%;
  border-radius: .1rem;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.swiper-slide a,.swiper-slide a img{
  width: 100%;
  height: 100%;
  display: block;
}
.swiper-pagination span{
  background-color: #fff;
  outline: none;
}