/* body,html{
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
} */


/* 主轴X轴 分散对齐 侧轴居中  允许换行 */
.main_scattered{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* 主轴Y轴  主轴居中  */
.side_scattered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 白色背景 */
.ba_co{
  background-color: #fff;
}

/* 通知 */
.notice{
  width: 100%;
  height: .7rem;
  overflow: hidden;
  margin-top: .8rem;
  padding-top: .25rem;
  position: relative;
}
#notice{
  width: 95%;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: .1rem;
}
.notice i{
  position: absolute;
  top: .37rem;
  font-size: .40rem;
  color: #000;
}
.notice i:nth-child(2){
  right: .4rem;
  width: .4rem;
  height: .4rem;
  /* transform: rotate(180deg); */
}
.notice i:nth-child(1){
  left: .4rem;
  top: .4rem;
  font-size: .36rem;
  font-weight: bold;
}
#notice p{
  padding: .1rem .8rem;
  font-size: .24rem;
  line-height: 2;
}

/* 轮播 */
.home_banner{
  box-sizing: border-box;
  width: 100%;
  padding: 0 .2rem;
  margin-top: .1rem;
  margin-bottom: .1rem;
  height: 2.9rem;
}
.swiper-container{
  width: 100%;
  height: 100%;
  border-radius: .1rem;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.swiper-slide a,.swiper-slide a img{
  width: 100%;
  height: 100%;
  display: block;
}
.swiper-pagination span{
  background-color: #fff;
  outline: none;
}


/* nav */
.home_nav{
  width: 100%;
  padding-bottom: .2rem;
}
.nav{
  width: 100%;
}
.nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav_list{
  width: 1.4rem;
}
.nav-list-a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: .1rem;
}
.nav-list-a img{
  width: .8rem;
  height: 0.8rem;
}
.nav-list-a span{
  font-size: .24rem;
  color: #000;
  display: block;
  margin-top: .05rem;
  margin-bottom: .1rem;
}


/* 商品部分 */
.home_goods{
  width: 100%;
  padding: .2rem .2rem;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
}

/* 首单满减 */
.Full_reduction{
  width: 100%;
  height: calc(1.1rem * 2);
  margin-bottom: .2rem;
}
.Full_reduction a{
  width: 100%;
  height: 100%;
  border-radius: .1rem;
  overflow: hidden;
  display: block;
}
.Full_reduction img{
  width: 100%;
  height: 100%;
}

/*  */
.seconds_selling{
  width: 100%;
  height: 2.66rem;
  background-color: #fff;
  border-radius: .1rem .1rem 0 0;
}
.seconds,.selling{
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: .1rem;
}
.seconds a,.selling a{
  font-size: .24rem;
  color: #000;
}
.se_top{
  position: relative;
}
.se_top h3{
  width: 40%;
  font-size: .34rem;
  margin-left: .1rem;
  margin-top: .1rem;
}
.session{
  position: absolute;
  right: 0;
  top: .1rem;
  width: 55%;
  height: .32rem;
  border: 1px solid #ff3b30;
  font-size: .2rem;
  border-radius: .32rem;
  color: #ff3b30;
}
.session font{
  background-color: #ff3b30;
  color: #fff;
  height: 100%;
  width: 45%;
  text-align: center;
  border-radius: .32rem;
  margin-left: -.05rem;
  box-sizing: border-box;

}

.dijia{
  margin-left: .1rem;
  font-size: .24rem;
  color: #ff3b30;
  line-height: 1.5;
}
.se_bo_list{
  width: calc(100% / 3);
}
.se_bottom img{
  margin-left: .15rem;
  width: .96rem;
  height: .96rem;
}
.se_bottom p,.se_bo_list p{
  text-align: center;
  color: #ff3b30;
  line-height: 1.3;
}
.se_bottom span{
  text-align: center;
  color: #e7e7e7;
  width: 100%;
  display: block;
  text-decoration: line-through;
}
.selling .se_bo_list_x{
  width:100%;
  position: relative;
}
.se_bottom{
  width: 100%;
  position: relative;
}
/* .se_bottom .se_bo_list img{
  margin: 0;
} */
.se_bo_list .selling_img{
  width: 3rem;
  height: 1.4rem;
  position: absolute;
  top: .2rem;
  left: 0.1rem;
}
.selling a{
  display: block;
  padding-left: .1rem;
}
.session .selling_p,.selling .dijia{
  color: #267aff;
}
.selling .session{
  right: .5rem;
  line-height: .32rem;
  width: 40%;
  border: 1px solid #267aff;
}
.selling .selling_p i{
  transform: rotate(-90deg);
  
}


/* 品牌分类 */
.goods_nav{
  overflow: hidden;
  border-radius: 0 0 .1rem .1rem;
  width: 100%;
  background-color: #fff;
}
.go_nav_list{
  border-top: 1px solid #eee;
  width: calc(25% - .2rem);
  padding-left: .2rem;
}
.go_nav_list h4{
  margin-left: .1rem;
  margin-top: .1rem;
  font-size: .32rem;
  font-weight: 600;
  color: #000;

}
.go_nav_list p{
  margin-left: .1rem;
  font-size: .24rem;
  color: #ff3b30;
}
.go_nav_list img{
  width: 1.28rem;
  height: 1.28rem;
}

/* 会员专区 */

.members_zone{
  margin-top: .2rem;
  width: 100%;
  border-radius: .1rem;
  padding-bottom: .2rem;
}
.members_zone .me_zone_title{
  justify-content: space-between;
}
.me_zone_title h4{
  font-size: .36rem;
  color: #000;
  line-height: .72rem;
  margin-left: .1rem;
}
.me_zone_title span{
  font-size: .24rem;
  color: #8a8a8f;
  line-height: .72rem;
  margin-right: .1rem;
}
.me_zone_title span i{
  transform: rotate(-90deg);
}
.me_zone_list img{
  width: 0.8rem;
  height: .8rem;
}
.me_zone_list span{
  font-size: .24rem;
  color: #000;
}


/* 20日会员日 每周五特惠 */
.preferential{
  width: 100%;
  margin-top: .2rem;
}
.pref_list{
  height: 2.56rem;
  position: relative;
  box-sizing: border-box;
  /* padding: .2rem 0 0 .2rem; */
  width: 48%;
  border-radius: .1rem;
}
.preferential ul{
  justify-content: space-between;
}
.pref_list a{
  width: 100%;
  height: 2.56rem;
  position: relative;
  display: block;
}
.pref_list_text h4{
  color: #000;
  font-size: .36rem;
}
.pref_list_text p{
  color: #ff3b30;
  font-size: .24rem;
  line-height: 2.5;
}
.pref_list_text span{
  display: block;
  width: 1rem;
  height: .4rem;
  border-radius: .4rem;
  text-align: center;
  line-height: .41rem;
  color: #fff;
  background-color: #267aff;
  font-size: .24rem;
}
.pref_list_text{
  position: absolute;
  left: .2rem;
  top: 0.2rem;
  z-index: 20;
}
.pref_list a img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2.56rem;
  z-index: 10;
}


/* 商品分类 */
.goods_class{
  margin-top: .2rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.go_cl_list{
  margin-right: .4rem;
  position: relative;
  font-size: .24rem;
  text-align: center;
}
.go_cl_list:nth-child(1){
  margin-left: .2rem;
}
.go_cl_list h4::after{
  content: "";
  position: absolute;
  top: 0;
  right: -.2rem;
  width: 1px;
  height:60%;
  background: #d8d8d8;
}
.go_cl_list span{
  display: block;
  color: #8a8a8f;
  font-size: .20rem;
  line-height: 1.5;
  margin-top: .03rem;
  /* width: 1.3rem; */
}
.go_cl_list:nth-child(5) h4::after{
  content: "";
  position: absolute;
  top: 0;
  right: -.12rem;
  width: 0;
  height:0;
  background: transparent;
}
.go_cl_list .active_t{
  background-color: #ff6600;
  color: #fff;
  border-radius: .3rem;
  padding: 0 .08rem;
}


#list_of_goods{
  width: 100%;
  margin-top: .2rem;

}
.list_of_goods{
  /* margin-top: .2rem; */
  /* position: relative; */
  width: 100%;
  background-color: rgb(246, 246, 246);
  /* overflow: hidden; */
  
}
.list_of_goods_l{
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  display: none;
}
.active_go{
  display: block;
}



/* 商品列表 */
#list_of_goods_l{
  width: 100%;
}
#goods_ul{
  width: 100%;
  justify-content: space-between;
}
.of_list{
  margin-top: .3rem;
  width: 48%;
  position: relative;
  border-radius: .16rem;
  overflow: hidden;

}
.of_list a{
  width: 100%;
  font-size: .24rem;
}
.title_l{
  position: relative;
  top: 0;
  left: 0;
  justify-content: left;
}
.title_l p{
  display: block;
  height: .4rem;
  line-height: .4rem;
  padding: 0 .1rem;
  background-color: #ff6600;
  color: #fff;
  font-size: .24rem;
}
.title_l span{
  color: #FFE7B9;
  background-image: linear-gradient(156deg, #484D5E 0%, #10121C 100%);
  padding: 0 .1rem;
  height: .4rem;
  line-height: .4rem;
  font-size: .24rem;
  display: block;
  border-radius: 0 0 .16rem 0;
}
.of_img{
  display: block;
  margin: 0 auto;
  width: 2.75rem;
  height: 2.75rem;
}
.goods_name p:first-child {
  color: #000;
  height: .74rem;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .26rem;
    line-height: .37rem;
}
.font_of_1{
  color: #ff6600;
  height: .38rem;
  font-size: .32rem;
  font-weight: 600;
  margin-bottom: .1rem;
  justify-content: left;
}
.hy_price,.goods_name{
  position: relative;
}
.goods_name{
  padding: 0 .1rem .2rem;
}
.hy_price font{
  font-size: .24rem;
  color: #3e4252;
  height: .38rem;
  line-height: .38rem;
  justify-content: left;
}
.of_pro,.shopping_cart{
  position: absolute;
}
.of_pro{
  top: .04rem;
  left: 1rem;
  color: #FFE7B9;
  background-image: linear-gradient(156deg, #484D5E 0%, #10121C 100%);
  padding: 0 .1rem;
  height: .3rem;
  line-height: .3rem;
  font-size: .20rem;
  display: block;
  border-radius: .08rem;
  font-style:italic;
}
.shopping_cart{
  bottom: .2rem;
  right: .2rem;
  display: block;
  width: .6rem;
  height: .6rem;
  background-image: linear-gradient(-180deg, #14A9F0 0%, #0092D8 100%);
  background-color: #0092D8;
  line-height: .6rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}



/* 售后保障 */
.goods_footer{
  width: 100%;
  margin-bottom: 1.8rem;
}
.go_fo_list i{
  font-size: .66rem;
}
.go_fo_list span{
  font-size: .24rem;
  color: #333;
  margin-top: .18rem;
}
.goods_footer ul{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: .3rem 0;
}
.go_fo_ol{
  padding: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .24rem;
  color: #999;
  position: relative;
}
.goods_footer_text{
  font-size: .20rem;
  color: #ccc;
  text-align: center;
}
.go_fo_ol_li{
  position: relative;
}
.go_fo_ol_li::after{
  content: "";
  position: absolute;
  top: 0;
  right: -.2rem;
  width: 1px;
  height:60%;
  background: #d8d8d8;
}
.go_fo_ol_li:nth-child(4)::after{
  content: "";
  position: absolute;
  top: .02rem;
  right: -.3rem;
  width: 1px;
  height: 90%;
  background: transparent;
}