/* body,html{
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
} */


/* 主轴X轴 分散对齐 侧轴居中  允许换行 */
.main_scattered{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* 主轴Y轴  主轴居中  */
.side_scattered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 通知 */
.notice{
  width: 100%;
  height: .7rem;
  overflow: hidden;
  margin-top: .8rem;
  padding-top: .25rem;
  position: relative;
}
#notice{
  width: 95%;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: .1rem;
}
.notice i{
  position: absolute;
  top: .37rem;
  font-size: .40rem;
  color: #000;
}
.notice i:nth-child(2){
  right: .4rem;
  width: .4rem;
  height: .4rem;
  /* transform: rotate(180deg); */
}
.notice i:nth-child(1){
  left: .4rem;
  top: .4rem;
  font-size: .36rem;
  font-weight: bold;
}
#notice p{
  padding: .1rem .8rem;
  font-size: .24rem;
  line-height: 2;
}

/* 轮播 */
.home_banner{
  box-sizing: border-box;
  width: 100%;
  padding: 0 .2rem;
  margin-top: .1rem;
  margin-bottom: .1rem;
  height: 2.9rem;
}
.swiper-container{
  width: 100%;
  height: 100%;
  border-radius: .1rem;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.swiper-slide a,.swiper-slide a img{
  width: 100%;
  height: 100%;
  display: block;
}
.swiper-pagination span{
  background-color: #fff;
  outline: none;
}


/* nav */
.home_nav{
  width: 100%;
  padding-bottom: .2rem;
}
.nav{
  width: 100%;
}
.nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav_list{
  width: 1.4rem;
}
.nav-list-a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: .1rem;
}
.nav-list-a img{
  width: .8rem;
  height: 0.8rem;
}
.nav-list-a span{
  font-size: .24rem;
  color: #000;
  display: block;
  margin-top: .05rem;
  margin-bottom: .1rem;
}


/* 商品部分 */
.home_goods{
  width: 100%;
  padding: .2rem .2rem;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
}

/* 首单满减 */
.Full_reduction{
  width: 100%;
  height: calc(1.1rem * 2);
  margin-bottom: .2rem;
}
.Full_reduction a{
  width: 100%;
  height: 100%;
  border-radius: .1rem;
  overflow: hidden;
  display: block;
}
.Full_reduction img{
  width: 100%;
  height: 100%;
}

/*  */
.seconds_selling{
  width: 100%;
  height: 2.66rem;
  background-color: #fff;
  border-radius: .1rem;
}
.seconds,.selling{
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: .1rem;
}
.seconds a,.selling a{
  font-size: .24rem;
  color: #000;
}
.se_top{
  position: relative;
}
.se_top h3{
  width: 40%;
  font-size: .34rem;
  margin-left: .1rem;
  margin-top: .1rem;
}
.session{
  position: absolute;
  right: 0;
  top: .1rem;
  width: 55%;
  height: .32rem;
  border: 1px solid #ff3b30;
  font-size: .2rem;
  border-radius: .32rem;
  color: #ff3b30;
}
.session font{
  background-color: #ff3b30;
  color: #fff;
  height: 100%;
  width: 45%;
  text-align: center;
  border-radius: .32rem;
  margin-left: -.05rem;
  box-sizing: border-box;

}

.dijia{
  margin-left: .1rem;
  font-size: .24rem;
  color: #ff3b30;
  line-height: 1.5;
}
.se_bo_list{
  width: calc(100% / 3);
}
.se_bottom img{
  margin-left: .15rem;
  width: .96rem;
  height: .96rem;
}
.se_bottom p,.se_bo_list p{
  text-align: center;
  color: #ff3b30;
  line-height: 1.3;
}
.se_bottom span{
  text-align: center;
  color: #e7e7e7;
  width: 100%;
  display: block;
  text-decoration: line-through;
}
.selling .se_bo_list_x{
  width:100%;
  position: relative;
}
.se_bottom{
  width: 100%;
  position: relative;
}
.se_bottom .se_bo_list img{
  margin: 0;
}
.se_bo_list .selling_img{
  width: 3rem;
  height: 1.4rem;
  position: absolute;
  top: .2rem;
  left: 0.1rem;
}
.selling a{
  display: block;
  padding-left: .1rem;
}
.session .selling_p,.selling .dijia{
  color: #267aff;
}
.selling .session{
  right: .5rem;
  line-height: .32rem;
  width: 40%;
  border: 1px solid #267aff;
}
.selling .selling_p i{
  transform: rotate(-90deg);
  
}